/*
*  File:            login.scss
*  Description:     This file holds styles specific for login page
*  Author:          ChRIS UI
*/

@import '../../assets/scss/helpers/pf4-variables'; 
@import '../../assets/scss/helpers/variables'; 
$image-url:     '../../assets/images/';

.login{
    // Replace background image here
    // This file takes background-image styles from 'assets/scss/components/_background-image.scss'
    &.pf-background::after{
        background-image: url("#{$image-url}#{$login-background-image}");
        @media (max-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
        (max-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
            background-image: url("#{$image-url}#{$login-background-image-2x}"); //xs2x
        }
        // small screens: 576px - 992px
        @media (min-width: $pf-global--breakpoint--sm) {
            background-image: url("#{$image-url}#{$login-background-image-sm}");//BackgroundImage--sm
        }
        
        @media (min-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
            (min-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
            background-image: url("#{$image-url}#{$login-background-image-sm-2x}"); //sm2x
        }
        // large screens: 992px and up 
        @media (min-width: $pf-global--breakpoint--lg) {
            background-image: url("#{$image-url}#{$login-background-image-lg}");//-BackgroundImage--lg
        }
    }

    .pf-c-login__container {
        padding: 1em;

        .pf-c-login__main {
            box-shadow: -15px 7px 25px #1C1C1C40;
        }
    }

    .pf-c-login__header {
        display: flex;
        margin-top: 0;

        @media (max-width: 1200px) {
            .pf-c-brand {
                margin-left: auto;
                margin-right: auto;
                max-width: 16em;
            }
        }
    }

    .pf-c-login__footer {
        .pf-c-list {
            list-style: none;
            padding-left: 0;

            li {
                display: inline-block;
                margin-right: 1em;
                font-weight: bold;
            }
        }

        @media (max-width: 1200px) {
            & {
                text-align: center;
            }
        }
    }
}

// Form styles
// ----------------------------------------------
.login-form{
    .pf-c-form__group.pf-m-action{
        margin-top:0;
    }
    .pf-c-button{
        margin-bottom: var(--pf-global--spacer--lg);
    }
    @media (min-width: $pf-global--breakpoint--xl) {
        .pf-c-button{
            float: right;
        }
    }
}
