.img-div {
    width: 90%;
    height: 90%;
}

.img-height-dominant {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
    transition: width 0.2s, height 0.2s;
}

.img-width-dominant {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: scale-down;
    transition: width 0.2s, height 0.2s;
}
