@import "../../assets/scss/helpers/pf4-variables";

.plugin-item-card {
    margin-bottom: 0;
    padding: 0;
    height: 100%;
    border-bottom-color: #ededed;
    border-bottom: 4px solid var( --pf-blue-400);
    box-shadow: none;
  }
  
  .plugin-item-card-body {
    color: #4d5258;
    color: var(--pf-black-700);
  
    font-size: 1.4em;
    position: relative;
  }
  
  .plugin-item-name {
    color: #0088ce;
    color: var(--pf-blue-400);
  
    font-size: 1.25em;
    font-weight: 600;
  }
  
  .plugin-item-name > .plugin-star {
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    margin-left: .5em;
  
    color: var(--pf-black-400, #bbb);
    font-size: 22px;
  } .plugin-item-name > .plugin-star:hover {
    color: var(--pf-black-700, #bbb);
    cursor: pointer;
  }
  
  
  .plugin-item-name > .plugin-star[class~="disabled"] {
    margin-left: .5em;
  
    color: var(--pf-black-400, #bbb);
    font-size: 22px;
  }
  
  .plugin-item-name > .plugin-star[class~="favorite"] {
    margin-left: .5em;
  
    color: var(--pf-blue-400);
    font-size: 22px;
  }
  
  
  .plugin-item-name > .plugin-star[class~="favorite"]:hover {
    color: var(--pf-blue-500);
    cursor: pointer;
  }
  
  .plugin-item-name:hover, .plugin-item-name:focus { text-decoration: none; }
  
  .plugin-item-title, .compute-item-description {
    font-size: 1em;
    font-weight: 400;
  }
  
  .plugin-item-creation {
    color: #72767b;
    color: var(--pf-black-600);
  
    font-weight: 300;
  }
  
  .plugin-item-author  {
    color: #4d5258;
    color: var(--pf-black-700);
  
    border-bottom-color: #d1d1d1;
    border-bottom: 1px solid var(--pf-black-300);
  
    font-size: 1em;
    font-weight: 300;
  }
  
  .plugin-item-author:hover,
  .plugin-item-author:focus {
    color: #4d5258;
    color: var(--pf-black-700);
    text-decoration: none;
  }
  
  @media (min-width: 768px)  {
    .plugins-list > .plugin-item-card {
      padding: 0 20px;
    }
  }