/* Custom Modal Styling */
.customModal {
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  
}

/* Style for the Upload Buttons section */
.uploadButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.uploadButtons button {
  font-size: 16px;
}

/* Style for the Local Files Section */
.localFilesSection {
  height: 200px;
  margin-top: 1rem;
  overflow: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

/* Style for the Directory Name Section */
.directoryForm {
  margin-top: 1rem;
}

.directoryForm label {
  font-weight: bold;
}

.directoryForm input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style for the Upload Button Section */
.uploadButtonSection {
  margin-top: 1.5rem;
  text-align: center;
}

.uploadButtonSection button {
  font-size: 1.15rem;
  padding: 12px 20px;
}

/* Style for the Code Display Section */
.codeDisplaySection {
  margin-top: 1rem;
  height: 200px;
  overflow: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.antTree {
  background:inherit !important;
}
