/*
*  File:            charts.scss
*  Description:     This files holds styles specific for charting
*  Author:          ChRIS UI
*/

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import '../../assets/scss/helpers/pf4-variables';
@import '../../assets/scss/helpers/variables';


.chart-viewer{
    margin: 2rem 0;
    .rbt{
        margin: 0 2rem;
    }

    .rbt-input-multi{
        padding: 5px 34px 5px 12px;

    }
    .rbt-close{
        margin-top:3px;
    }
    .dropdown-menu{
        margin-top:0;
    }
    .rbt-token{
        background: var(--pf-global--Color--light-100);
        border:solid 1px  var(--pf-global--Color--dark-200);
        border-radius: 3px;
        color: $pf-color-black-900;
        font-size: 14px;
        line-height: 1em;
        margin: 0 5px 4px 0;
        padding: 8px 30px 4px 10px;
        button{
            font-size: 18px;
            padding-top:8px;
            margin-top:0;
        }
    }
}

.c3{
    max-width:95vw;
    margin: auto;
    .c3-legend-item text{
        font-size: 14px;
    }
    .c3-legend-item-tile {
     shape-rendering: auto;
     stroke-linecap: round;
     stroke-dasharray: 0.1 10;
     stroke-width: 8;
     transform: translate(6px, 1px);
   }
    .c3-axis-y{
        .tick
        {
            font-size: 12px;
        }
        .c3-axis-y-label{
            font-size: 14px;
        }
    }
    .c3-axis-x{
        .tick
        {
            font-size: 12px;
        }
        .c3-axis-x-label{
            font-size: 14px;
        }
    }
}
