@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
$color_1: #0088ce;
$color_2: #bbb;

.plugin {
	font-family: "Overpass", sans-serif !important;;
}
#plugin-body {
	padding: 1em 2em;
	margin: 1rem 2rem;
	width: 100%;
}
.plugin-body-side-col {
	.plugin-body-detail-section {
		margin-top: 1em;
		border-bottom: 1px solid lightgray;
		padding: 1em 0;
	}
}
.plugin-body-detail-section {
	h4 {
		font-weight: bold;
	}
}
.plugin-icon {
	display: block;
	height: 100%;
	margin: auto;
}
.plugin-name {
	color: $color_1;
	margin-bottom: 0 !important;
	&:focus {
		color: $color_1;
		text-decoration: none;
	}
	&:hover {
		color: $color_1;
		text-decoration: none;
	}
}
.plugin-title {
	margin-top: 0 !important;
}
.plugin-stats {
	color: $color_2;
}
@media screen and (max-width: 590px) {
	#plugin-body {
		margin: 0;
	}
}
