@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
$color_1: #0088ce;
$color_2: #bbb;

.pf-c-form-control[readonly] {
  font-size: 1em;
}

.plugin {
  font-family: "Overpass", sans-serif !important;
  margin: 1em 2em;
}
.plugin-head {
  margin: 2rem 0;
}
.plugin-body {
  width: 100%;
  padding: 2em 2em;
}
.plugin-body-side-col {
  .plugin-body-detail-section {
    margin-top: 1em;
    border-bottom: 1px solid lightgray;
    padding: 1em 0;
  }
}
.plugin-body-detail-section {
  h4 {
    font-weight: bold;
  }
}
.plugin-icon {
  height: 100%;
  padding: 0;
}
.plugin-name {
  color: $color_1;
  margin-bottom: 0 !important;
  &:focus {
    color: $color_1;
    text-decoration: none;
  }
  &:hover {
    color: $color_1;
    text-decoration: none;
  }
}
.plugin-title {
  margin-top: 0 !important;
}
.plugin-stats {
  color: $color_2;
  text-align: right;
}
@media screen and (max-width: 590px) {
  #plugin-body {
    margin: 0;
  }
}
