@import "../../../assets/scss/helpers/pf4-variables";
@import "../../../assets/scss/helpers/variables";
@import '../../../assets/scss/helpers/mixins';



.feed-output-browser {
  height:100%;
 
  &__sidebar {
    overflow-y:scroll;
    border-right:0.5px solid #f5f5f5;
  }

  .pf-c-skeleton, .pf-m-square {
    background-color: var(--pf-global--palette--black-300) !important;
  }

  .ant-tree{
    background-color: inherit !important;
  }

  &__sidebar {
     width:100%;
  }

  &__main {
    width:100%;
  }

}

.file-browser {
  height:100%;

  &__downloadButton {
    max-width:50% !important;

    @include media-query(768px){
     max-width: 80 !important;
    }

    svg {
      fill:white;
    }
  }
   
  &__header {
    display:flex;
    flex-direction: column;
    gap:0.25em;

    &-info {
      gap:2rem;
      display:flex;
      justify-content: flex-end;
    }



    @include media-query($pf-global--breakpoint--xl){
      display:flex;
    }
  }


  .pf-c-breadcrumb{
    color:var(--pf-global--primary-color--100);
    cursor:pointer;
    --pf-c-breadcrumb__item--FontSize: var(--pf-global--FontSize--lg)
  }
  
  &__table {
    overflow-y: scroll;
    border-right:0.2px solid #f5f5f5;
    max-width: 100%;
    tbody tr{
      cursor: pointer;
    }
    svg{
      color: var(--pf-global--primary-color--100);
    }

    .pf-c-table {
      background-color: inherit;
    }
  }

  .preview {
    @include section-three;
  }

  &__detail {
    overflow-y: scroll;
  }

  &__plugin-status {
    &--tabs {
      height:3vh 
    }

    &--json {
      overflow-y: scroll;
    }

    &--terminal, &--json {
      height: 40.5vh!important;
      @include media-query(1200px){
       min-height:40.5vh !important;
    }
   }
  }

}




/**

Styles for the component FileDetailView

**/

.header-panel {
  display:flex;
  justify-content: space-between;

  &__buttons {
    padding-top:0;

    button {
      padding-top:0 !important;
      padding-right:0 !important;
    }
  }

  
}