@import "../../../assets/scss/helpers/pf4-variables";
@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.pf-c-drawer__body {
  padding: 0 !important;
}

.pf-c-app-launcher__menu {
  background-color: none !important;
}

.feed-output-browser {
  color: #f5f5f5 !important;
  .ant-tree {
    background-color: inherit !important;
    color: white;
  }
  &__button {
    cursor: pointer;
  }
}

.file-browser {
  height: 100%;
  .carousel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
  }

  &__previewPanel {
    .pf-c-drawer__content,
    .pf-c-drawer__panel,
    .pf-c-drawer__panel-main {
      overflow: hidden !important;
    }
  }

  .pf-c-table tr > * {
    color: white;
  }

  &__table {
    &--fileName {
      color: white;
      display: flex;
      flex-direction: row;
      font-size: 1em !important;
      font-family: var(
        --pf-global--FontFamily--redhatfont--sans-serif
      ) !important;
    }

    &--isPreviewing {
      background: var(--pf-global--palette--blue-300);
      color: white;
      svg {
        color: white !important;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin-right: 0.25em;

    &__info {
      gap: 2rem;
      display: flex;
      justify-content: flex-end;
    }

    @include media-query($pf-global--breakpoint--xl) {
      display: flex;
    }
  }

  .pf-c-breadcrumb {
    cursor: pointer;
    --pf-c-breadcrumb__item--FontSize: var(--pf-global--FontSize--md);
  }

  &__firstGrid {
    overflow-y: scroll !important;
    height: 100% !important;
    max-width: 100%;

    margin: 0;
    tbody tr {
      cursor: pointer;
    }

    svg {
      margin-right: 0.25em;
    }

    .pf-c-table {
      background-color: inherit;
    }
  }

  .header-panel__buttons {
    display: flex;
    justify-content: space-between;
  }

  .preview-panel {
    display: flex;
    justify-content: space-between;
    & > div {
      width: 100%;
    }
    & > div > div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .small-preview {
    .viewport-wrapper {
      height: 100% !important;
    }
    img {
      object-fit: contain;
      height: 100%;
      max-width: 100%;
    }
    .react-json-view {
      height: 100%;
      overflow: scroll;
    }
  }

  .dcm-preview {
    position: relative;
    height: 100%;

    #container {
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: scroll;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
  .open-with-dropdown {
    background: #ffffff63;
  }
}

.iframe-container {
  height: 100%;

  iframe {
    height: 100% !important;
  }
}

.overlay {
  /* prevent text selection on overlay
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* ignore pointer event on overlay */
  pointer-events: none;
}
