/*
*  File:            file-detail.scss
*  Description:     This files holds styles specific for the file explorer tab
*  Author:          ChRIS UI
*/

@import "../../assets/scss/helpers/variables";
@import "../../assets/scss/helpers/mixins";
@import "../../assets/scss/vendors/react-ui-tree";

// File detail view
// -----------------------------------------------
.output-viewer,
.gallery-wrapper {
  .catchall {
    // catchall
    .pf-c-alert {
      max-width: $fe-viewer-max-width-sm;
      margin: 1rem 3rem;
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
  // Iframe to display the file contents
  .default-display,
  .json-display {
    min-height: $fe-viewer-min-heigth;
  }
  .default-display {
    background: white;
    border: solid 1px $fe-viewer-border;
    border-radius: 4px;

    max-width: $fe-viewer-max-width-sm;
    iframe {
      height: calc(100vh - 350px);
      margin: 0 auto;
      padding: 5px;
      width: 100%;
    }
  }
  .json-display {
    background: $fe-viewer-background;
    border: solid 1px $fe-viewer-border;
    border-radius: 4px;
    padding: 1rem;
    max-height: $fe-viewer-min-heigth;
  }
  // AMI / DCMDisplay
  .ami-viewer {
    min-height: $fe-viewer-min-heigth;
  }

  // Image display
  .image-block {
    text-align: center;
    img {
      max-height: $fe-viewer-min-heigth;
    }
  }
  // File Detail view div
  .iframedisplay .header-panel {
    max-width: $fe-viewer-max-width-sm;
  }
  .imagedisplay .image-block {
    text-align: left;
  }
}

.header-panel {
  h1 {
    padding-top: 15px;
    margin-bottom: 10px;
  }
}
