/*
*  File:            file-detail.scss
*  Description:     This files holds styles specific for the file explorer tab
*  Author:          ChRIS UI
*/

@import "../../assets/scss/helpers/variables";
@import "../../assets/scss/helpers/mixins";
@import "../../assets/scss/vendors/react-ui-tree";

// File detail view
// -----------------------------------------------
.file-detail{
  .pf-c-alert{
    max-width: 700px;
    margin: 1rem 3rem;
    label{
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
// Iframe to display the file contents
.file-iframe{
  border: solid 1px #ddd;
  border-radius: 4px;
  height: calc(100vh - 250px);
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  width: 100%;
}
.header-panel{
  h1{
    padding-top:15px;
    margin-bottom: 5px;
  }
}
