@import "../../assets/scss/helpers/pf4-variables";

@media screen and (min-width: $pf-global--breakpoint--sm) and (max-width: $pf-global--breakpoint--md) {
  .dashboard-carddisplay img:nth-last-of-type(-n + 2) {
    display: none;
  }
}
@media screen and (min-width: $pf-global--breakpoint--xs) and (max-width: $pf-global--breakpoint--sm) {
  .dashboard-carddisplay img:nth-last-of-type(-n + 3) {
    display: none;
  }
}
.image-card{
  display: "flex";
  flexdirection:"row";
  flexwrap:"wrap";
}