.workflow-title {
  display: flex;
  margin-bottom: 1.5em;

  .pf-c-label {
    margin-right: 0.5em;
  }

  .pf-m-blue {
    padding: 0.25em 0.75em;
    --pf-c-label--BackgroundColor: var(
      --pf-global--palette--blue-200
    ) !important;
  }
}

.pf-c-alert {
  margin-bottom: 1rem !important;
  width: 50%;
}

.workflow-file-upload {
  height: 100%;
  .pf-l-grid {
    height: 100%;
  }

  .file-list {
    height: 100%;
    overflow-y: auto;
  }
}

.workflow-form {
  margin-top: 1em;
}

.workflow-button {
  margin-left: 1.5em !important;
}

.steps-action {
  margin-bottom: 2rem;

  button {
    margin-right: 1rem;
  }
}

.ant-steps-item-title {
  font-family: var(--pf-global--FontFamily--heading--sans-serif);
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--pf-global--palette--black-300);
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #004080 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-error .ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important;
}