.workflow-steps {
  margin-top: 3rem;
  .ant-steps-item-title {
    color: var(--pf-global--palette--black-1000) !important ;
  }
}

.pf-c-alert {
  margin-bottom: 1rem !important;
  width: 50%;
}

.file-upload-card {
  .pf-c-card {
    --pf-c-card--m-full-height--Height: 50%;

    &__body {
      height: 45em;

      .workflow-file-upload {
        height: 100%;

        &-grid {
          height: 40em;
          overflow-y: scroll;
        }
      }
    }
  }
}

.workflow-form {
  margin-top: 1em;
}
