

.workflow-title {
  display: flex;
  margin-bottom: 1.5em;

  .pf-c-label {
    margin-right: 0.5em;
  }

  .pf-m-blue {
    padding: 0.25em 0.75em;
    --pf-c-label--BackgroundColor: var(--pf-global--palette--blue-200) !important;
  }
}

.pf-c-alert {
  margin-bottom: 1rem !important;
  width: 50%;
}

.file-upload-card {
  .pf-c-card {
    --pf-c-card--m-full-height--Height: 50%;

    &__body {
      height: 45em;

      .workflow-file-upload {
        height: 100%;

        &-grid {
          height: 40em;
          overflow-y: scroll;
        }
      }
    }
  }
}

.workflow-form {
  margin-top: 1em;
}

.workflow-button {
  margin-left:1.5em !important;
}