/*
*  File:            _typography.scss
*  Description:     This files holds styles misc dom elements
*                   
*  Author:          ChRIS UI
*/


code{
    background-color: #f8f9fa;
    border: solid 1px #eee;
    border-radius: 2px;
    display: block;
    padding: 1.5rem;
}