/*
*  File:            _utilities.scss
*  Description:     This files holds styles for utility classes
*                   
*  Author:          ChRIS ui Demo
*/


// Add a full width modal
.fullwidth-modal{
    margin: 0 auto;
    min-height: 50vh;
    min-width: 98vw;
}