/*
*  File:            _utilities.scss
*  Description:     This file holds styles for utility classes
*
*  Author:          ChRIS UI
*/

.black-900 {
  color: $pf-color-black-900;
}

.float-right {
  float: right;
}


// Accessibility additions
// Hidden on md and below (768px;)
// ----------------------------------------------

.hidden-md {
  @media screen and (max-width: $pf-global--breakpoint--md) {
    display: none !important;
  }
}


// Full screen view
// While in fullscreen, hide any children with class 'tohide'
// ----------------------------------------------

div:-webkit-full-screen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}
div:-moz-full-screen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}
div:-ms-fullscreen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}
div:fullscreen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}


// Inputs onfocus
// ----------------------------------------------

input:focus, textarea:focus, select:focus{
  outline: none !important;
}


// Custom Scrollbar
// ----------------------------------------------

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: #d2d2d2;
}

::-webkit-scrollbar-thumb {
  background-color: #73bcf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b9af3;
}
