/*
*  File:            _utilities.scss
*  Description:     This file holds styles for utility classes
*
*  Author:          ChRIS UI
*/
@import "../vendors/patternfly/patternfly";



.capitalize {
  text-transform: capitalize;
}
// Add a full width modal
.fullwidth-modal {
  margin: 0 auto;
  min-height: 50vh;
  min-width: 98vw;
}

.icon-mr {
  margin-right: 5px;
}

.white-bg {
  background: white;
}
.black-bg{
  background: black;
}
.black-900 {
  color: $pf-color-black-900;
}

.float-right {
  float: right;
}

.center {
  @extend .pf-u-text-align-center;
}

.left {
  @extend .pf-u-text-align-left;
}
// Accessibility additions
// Hidden on md and below (768px;)
.hidden-md {
  @media screen and (max-width: $pf-global--breakpoint--md) {
    display: none !important;
  }
}

/* Full screen view. While in fullscreen, hide any children with class 'tohide' */

div:-webkit-full-screen {
  width: 100% !important;

  .tohide {
    display: none;
  }
}
div:-moz-full-screen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}
div:-ms-fullscreen {
  width: 100% !important;
  .tohide {
    display: none;
  }
}
div:fullscreen {
  width: 100% !important;

  .tohide {
    display: none;
  }
}

/* Custom Scrollbar */


::-webkit-scrollbar {
  width: 0.5rem;
  height:0.5em;
}

::-webkit-scrollbar-track {
  background:#d2d2d2;
}

::-webkit-scrollbar-thumb {
  background-color: #73BCF7;
}

::-webkit-scrollbar-thumb {
  background-color: #73BCF7;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#2b9af3; ;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
