@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.node-block {
  background: $node-block-background;
  padding-top: 2rem;
  color: white;
  font-size: 1rem;
  button {
    font-size: inherit;
  }

  @include media-query(1200px) {
    font-size: 0.85rem;
  }

  .node-details {
    &__title {
      display: flex;
      justify-content: space-between;
    }

    &__version {
      font-size: 0.7em;
      font-weight: 500;
      margin-left: 0.25em;
    }

    .pf-c-title {
      color: inherit;
      font-weight: 600;
    }

    &__grid > .status,
    &__expandable {
      margin-bottom: 1em;
    }

    .pf-m-primary {
      background-color: #004080 !important;
      color: white;
    }

    .pf-m-primary:hover {
      background-color: #06c !important;
    }

    .pf-c-expandable-section__toggle {
      color: white;
      font-size: 90%;

      &-icon {
        margin-right: 0.25em;
      }
    }

    &__grid > * {
      margin-top: 1em;
    }

    .value svg,
    .title svg {
      margin-right: 0.5em;
    }

    &__actions {
      display: flex;
      justify-content: flex-start;
      gap: 2em;
      margin-top: 1em;
    }

    .pf-c-form-control {
      font-family: monospace;
      font-weight: 700;
    }

    &__popover-button {
      margin-top: 1rem;
    }

    &__status-descriptions {
      .ant-steps-item {
        overflow: visible !important;
      }
      
      .ant-steps-item-icon {
        display: none;
      }

      .ant-steps-item-description {
        color: #b8bbbe !important;
        max-width: 60px!important;
        margin-top:0.5em;
        font-size: 12px;
      }

      .ant-steps-horizontal:not(.ant-steps-label-vertical)
        .ant-steps-item-tail {
        display: none !important;
      }

      .ant-steps-item-title::after {
        display: none;
      }
    }
  }

  @include media-query(1200px) {
    .pf-l-grid > .pf-m-2-col {
      margin-bottom: 1em;
    }
  }
}

/******

Steps Design Icon

******/

.ant-steps-item-icon {
  width: 28px !important;
  height: 28px !important;
  font-size: 12px !important;
  border-radius: 30px !important;
  line-height: 20px !important;
  margin: 0 2px 0 2px !important;
  cursor: pointer;
  padding: 5px 7px;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  padding-left: 0;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-tail {
  display: outline !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: white !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #1890ff !important;
}

.ant-steps-item-error .ant-steps-item-icon {
  background: #c9190b !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-error .ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important;
}

.ant-steps-item-title {
  padding-right: 0;
}

.ant-popover-inner-content {
  width: 50rem !important;
  padding: 0 !important;
}

.ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: white !important;
  
}

.ReactVirtualized__Grid__innerScrollContainer {
  color: #fff;
  font-size: 0.75rem;
  font-family: monospace;
  height: 100%;
  width: 100%;
}
