@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";
@import "../../../assets/scss/helpers/pf4-variables";

.node-block {
  background: $node-block-background;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  button {
    font-size: inherit;
  }

  @include media-query($pf-global--breakpoint--xs) {
    width: fit-content;
  }

  @include media-query($pf-global--breakpoint--sm) {
    width: 100%;
  }

  @include media-query($pf-global--breakpoint--md) {
    font-size: 0.75rem;
    width: fit-content;
  }

  @include media-query($pf-global--breakpoint--lg) {
    font-size: 0.85rem;
    width: 100%;
  }

  .node-details {
    height: 100%;
    &__title {
      display: flex;
      margin-bottom: 0.5em;
      .pf-c-button {
        --pf-c-button--m-tertiary--BackgroundColor: var(
          --pf-global--palette--white
        ) !important;
        -pf-c-button--m-tertiary--hover--backgroundcolor: var(
          --pf-global--palette--black-300
        ) !important;

        --pf-c-button--m-tertiary--focus--BackgroundColor: var(
          --pf-global--palette--black-300
        ) !important;
      }
      &--button {
        // Tells the element to create as much space as possible to it's left
        margin-left: auto;
      }

      &--formInput {
        --pf-c-form-control--Width: 30%;
        margin-right: 1em;
      }

      &--formButton {
        margin-right: 1em;
      }
    }

    &__grid {
      margin-bottom: 0.5em;
      .value {
        margin-left: 0.5em;
        svg {
          margin-right: 0.4em;
        }
      }
    }

    &__version {
      font-size: 0.7em;
      font-weight: 500;
      margin-left: 0.25em;
    }

    .pf-c-title {
      color: inherit;
      font-weight: 600;
    }

    .pf-c-expandable-section__toggle {
      color: var(--pf-global--palette--white);
      margin-bottom: 0.25em;
      margin-top: 0.25em;

      &-icon {
        color: var(--pf-global--palette--white);
        margin-right: 0.25em;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-start;
      gap: 2em;
      margin-top: 1em;
    }

    .pf-c-form-control {
      font-family: monospace;
      font-weight: 700;
    }

    &__popover-button {
      margin-top: 1rem;
    }

    &__status-descriptions {
      .ant-steps-item {
        overflow: visible !important;
      }

      .ant-steps-item-icon {
        display: none;
      }

      .ant-steps-item-description {
        color: #b8bbbe !important;
        max-width: 60px !important;
        margin-top: 0.5em;
        font-size: 12px;
      }

      .ant-steps-horizontal:not(.ant-steps-label-vertical)
        .ant-steps-item-tail {
        display: none !important;
      }

      .ant-steps-item-title::after {
        display: none;
      }
    }

    &__status {
      .ant-steps-item-icon {
        width: 28px !important;
        height: 28px !important;
        font-size: 12px !important;
        border-radius: 30px !important;
        line-height: 20px !important;
        margin: 0 2px 0 2px !important;
        cursor: pointer;
        padding: 5px 7px;
      }

      .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
        padding-left: 0;
      }

      .ant-steps-horizontal:not(.ant-steps-label-vertical)
        .ant-steps-item-tail {
        display: outline !important;
      }

      .ant-steps-item-finish,
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-description {
        color: white !important;
      }

      .ant-steps-item-process .ant-steps-item-icon {
        background-color: var(--pf-global--palette--black-300);
      }

      .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
        color: white;
    }

    .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
      color: black;
  }

      .ant-steps-item-wait,
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-description {
      color: white !important;
    }

      .ant-steps-item-finish .ant-steps-item-icon {
        background-color: #004080 !important;
      }

      .ant-steps-item-wait .ant-steps-item-icon {
        background-color: #4f5255 !important;
      }


      .ant-steps-item-error .ant-steps-item-icon {
        background: #c9190b !important;
      }

      .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon,
      .ant-steps-item-error .ant-steps-item-icon > .ant-steps-icon {
        color: #fff !important;
      }

      .ant-steps-item-title {
        padding-right: 0;
      }

      .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title {
        color: white !important;
      }
    }
  }

  @include media-query(1200px) {
    .pf-l-grid > .pf-m-2-col {
      margin-bottom: 1em;
    }
  }
}

/******

Steps Design Icon

******/

.ant-popover-inner-content {
  width: 45rem !important;
  padding: 0 !important;
}

.ReactVirtualized__Grid__innerScrollContainer {
  color: #fff;
  font-size: 0.75rem;
  font-family: monospace;
  height: 100%;
  width: 100%;
}
