@keyframes pulse {
  40% {
    box-shadow: 0 0 0 5px #bee1f4;
  }

  80% {
    box-shadow: 0 0 0 3px #0088ce;
  }

  100% {
    box-shadow: 0 0 0 0 #73bcf7;
  }
}

.file-browser {
  height: 100%;
}

.file-browser__header {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-right: 0.25em;
}

@media screen and (min-width: 1024px) {
  .file-browser__header {
    display: flex;
  }
}

.iframe-container {
  height: 100%;
}

.iframe-container iframe {
  height: 100% !important;
}

.overlay {
  pointer-events: none;
}

.ant-progress-line {
  margin-inline-end: 0;
  margin-bottom: 0;
}

.centered-container {
  right: var(--pf-global--spacer--md);
  display: flex;
  flex-direction: row;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  z-index: 9999;
  padding: 0;
  margin: 0 0 0.25em 0;
  top: 0;
  background: inherit;
}
