#user-library {
  #search {
    height: 100%;
    padding: 1em 0 2em 0;

    #search-value,
    #search-value *,
    #search-type,
    #search-type > button {
      height: 100%;
    }
    #search-value {
      width: 100%;
    }
  }

  #finalize {
    width: 100%;
  }

  #filters {
    .pf-l-split {
      width: 100%;
    }
  }
}

.notification {
  position: fixed;
  width: 500px;
  font-size: 14px;
  transition: 0.3s ease;
  opacity: 0.9;
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  height: max-content;
  box-shadow: 0 0 10px #999;
}

.notification .alert {
  margin: 0;
}

.top-right {
  top: 100px;
  right: 12px;
  transition: transform 0.3s ease-in-out;
  animation: notification-in-down 0.3s;
}

.spin-container {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.container {
  text-align: center;
  }
  .toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  height: 35px;
  }
  .checkbox {
  display: none;
  }
  .label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  }
  .inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  }
  .inner:before,
  .inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
  }
  .inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #1890ff;
  color: #fff;
  }
  .inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
  }
  .switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
  }
  .checkbox:checked + .label .inner {
  margin-left: 0;
  }
  .checkbox:checked + .label .switch {
  right: 0px;
  }