.niivueContainer, .niivueContainer * {
  height: 100%;
  width: 100%;
}

.leftAndRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerItems {
  display: flex;
}

.footerItems > *:not(:last-child):after {
  content: "|";
  margin-left: 0.3em;
  margin-right: 0.3em;
}
