.feed-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 0 !important;
  min-height: 60px;
  padding-block-start: 0;
}

.feed-list .error {
  background-color: red;
}

.feed-list__split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed-list__name a {
  margin-left: 0.25em;
  cursor: pointer;
  outline: none;
}

.chart {
  text-align: right;
  height: 40px;
  width: 40px;
  display: block;
}

.chart.dark tspan {
  fill: white !important;
}

.feed-table
  tbody:where(.pf-v5-c-table__tbody)
  > tr:where(.pf-v5-c-table__tr)
  > * {
  vertical-align: middle !important;
}



.custom-panel {
  background-color: var(--pf-v5-c-page__main-section--BackgroundColor);
  border-right: 1px solid var(--pf-global--BorderColor--dark);
}



/* Common styles for both handles */
.ResizeHandle,
.ResizeHandleVertical,
.ResizeHandleCollapsed {
  background-color: gray; /* Default background color */
  transition: background-color 250ms linear;
}

/* Horizontal resize handle (between side panels) */
.ResizeHandle {
  width: 0.25rem;
  height: 100%;
  cursor: col-resize;
}

/* Vertical resize handle (between top and bottom panels) */
.ResizeHandleVertical {
  height: 0.25rem;
  width: 100%;
  cursor: row-resize;
}

/* Hover and active states for both handles */
.ResizeHandle:hover,
.ResizeHandle[data-resize-handle-active],
.ResizeHandleVertical:hover,
.ResizeHandleVertical[data-resize-handle-active],
.ResizeHandleCollapsed:hover,
.ResizeHandleCollapsed[data-resize-handle-active] {
  background-color: var(--pf-global--active-color--400); /* PatternFly blue */
}

/* Adjust for touch devices */
@media (pointer: coarse) {
  .ResizeHandle {
    width: 1rem;
  }
  .ResizeHandleVertical {
    height: 1rem;
  }
}



