/*
*  File:            GalleryInfoPanel.scss
*  Description:     This files holds styles specific for the file explorer Gallery Toolbar
*  Author:          ChRIS UI
*/
@import "../../../assets/scss/helpers/variables";
.gallery-info{
  color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
  div{
    color: #999;
    padding: 1rem;
    font-size: 0.875rem;
  }
  button.close-btn {
    margin-top: 10px;
    float: right;
    svg {
      color: #fff;
    }
  }
}
