.pf-v5-c-form-control[readonly] {
  font-size: 1em;
}

.plugin {
  margin: 1em 2em;
}
.plugin-head {
  margin: 2rem 0;
}
.plugin-body {
  width: 100%;
  padding: 2em 2em;
}
.plugin-body-side-col .plugin-body-detail-section {
  margin-top: 1em;
  border-bottom: 1px solid lightgray;
  padding: 1em 0;
}


.plugin-body-detail-section h4 {
  font-weight: bold;
}


.plugin-icon {
  height: 100%;
  padding: 0;
}
.plugin-name {
  margin-bottom: 0 !important;
}
.plugin-name:focus,
.plugin-name:hover {
  text-decoration: none;
}
.plugin-title {
  margin-top: 0 !important;
}
.plugin-stats {
  text-align: right;
}
@media screen and (max-width: 590px) {
  #plugin-body {
    margin: 0;
  }
}
