.expandButtonContainer {
  position: relative;
  height: 100%;
}

/*
 * Somewhat hacky show/hide button solution:
 * The button to open the drawer hides itself offscreen (by setting left: -100px)
 * when the drawer is opened.
 */

.expandButton {
  display: block;
  padding: 5px;
  height: 60px;
  position: absolute;
  top: 80px;
  left: 0;
  border: none;
  border-radius: unset;

  z-index: calc(var(--pf-v5-global--ZIndex--2xl) + 1);
}

.covered.expandButton {
  animation-name: hide;
  animation-duration: 0.5s;
  left: -100px;
}

@keyframes hide {
  from {left: 0}
  to {left: -100px}
}
