
.headerOptionsBar {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.conventionButton {
  width: 6.5em;
}

.dragmodeDropdown {
  width: 8em;
}

.headerOptionDescription {
  margin-right: 0.5em;
}

.headerOptionDescription:after {
  content: ":";
}

/* On narrow screen, description appears above widget */
.headerOption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerOptionWidget {
  display: flex;
  height: 3em;
  align-items: center;
}
