@import "../../../../assets/scss/helpers/variables";

.pf-c-dropdown__menu {
  background-color: var(--pf-global--BackgroundColor--dark-200) !important;

  &-item {
    background-color: inherit;
    color: inherit;
  }
}
.pf-c-options-menu__menu {
  background-color: var(--pf-global--BackgroundColor--dark-200) !important;
  &-item {
    background-color: inherit;
    color: inherit;
  }
 }
 
.pf-c-dropdown__toggle-text,
.pf-c-dropdown__toggle svg {
  color: white;
}

.screen-one {
  .pf-c-form-control[readonly] {
    background-color: inherit;
  }

  .pf-c-dropdown__toggle {
    margin-bottom: 0 !important;
  }

  .pficon .pficon-close {
    color: #8a8a8a;
  }

  .pf-c-form__group {
    margin: 0.5rem 0;
  }

  .pf-c-form__label {
    margin-bottom: 0.5rem;
  }

  .pf-c-form__label-text {
    font-size: 0.9rem;
    font-weight: 900 !important;
  }
}

.plugin-select {
  margin-top: 10px !important;
  background-color: inherit !important;
  box-shadow: none;

  .pf-c-accordion__toggle,
  .pf-c-accordion__expanded-content-body {
    color: white;
  }
  .pf-c-accordion__toggle {
    border: none !important;
    padding-left: 1rem;
    padding-right: 0.8rem;
    margin-bottom: 0 !important;
    .pf-c-accordion__toggle-text {
      font-size: 0.85rem;
    }
    &.pf-m-expanded .pf-c-accordion__toggle-text {
      font-weight: 900 !important;
      color: white;
    }
  }

  #all-content {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .pf-c-accordion__expanded-content-body {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .plugin-list {
    height: auto;
    overflow: auto;
    padding-right: 0.15rem;
    margin-top: 0.1rem;
  }

  .plugin-list-filter {
    margin-bottom: 0.1rem;
    font-size: 0.85rem !important;
  }

  .plugin-list li {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;

    .version,
    .description {
      font-size: 0.85em;
      color: #d2d2d2;
      font-weight: 500;
    }
    cursor: pointer;
    &:hover {
      background: #002952;
    }
    &.selected {
      background: #002952;
    }
  }

  .plugin-list-filter {
    outline: none;
  }
}

/** Guided Config **/

.configuration {
  display: flex;
  flex-direction: column;
  margin-top: "1.5rem";

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 1.25rem !important;
    margin-right: 1.25rem !important;
    max-width: 50% !important;
  }

  .pf-c-check,
  label {
    color: inherit;
  }

  .pf-c-banner {
    background-color: #73bcf7;
    padding: 0.25rem;
  }

  .required-params {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    font-family: monospace !important;
    font-size: 0.9rem;
    &__layout {
      display: flex;
      flex-direction: column;
    }

    &__label,
    &__textInput {
      font-size: 0.9rem;
    }

    &__label {
      width: 100%;
    }

    &__label {
      margin-right: 0.25rem !important;
    }
    &__star {
      color: #c9190b;
      font-weight: 900;
    }

    &__infoLabel {
      font-size: 0.75em;
    }

    &__textInput {
      width: 75%;
    }
  }
}

.configure-compute {
  &__label {
    font-size: 0.9rem !important;
    margin-right: 0.5em !important;
  }

  .pf-c-options-menu__toggle-text {
    font-size: 0.9rem !important;
    color: white;
  }
}

.autogenerated {
  &__text {
    input {
      font-size: 0.9rem !important;
      font-family: monospace !important;
    }
  }
}

.plugin-configuration {
  display: flex;
  margin: 1rem 0;

  &__dropdown,
  &__input,
  &__parameter {
    font-family: monospace !important;
   
  }

  &__parameter,
  .pf-c-dropdown__toggle-text {
    font-size: 0.8rem !important;
    font-family: monospace !important;
    color: white;
  }

  &__input {
    width: 100%;
    margin-right: 0.5em;
  }
}

.pf-c-wizard__footer {
  flex-direction: row-reverse;
}
