@import "../../../../assets/scss/helpers/variables";

.screen-one {
  .pf-c-dropdown__toggle-text,
  .pf-c-dropdown__toggle svg {
    color: var(--pf-c-dropdown__toggle--Color) !important;
  }
  .pf-c-dropdown__toggle {
    margin-bottom: 0 !important;
  }

  .pficon .pficon-close {
    color: #8a8a8a;
  }

  .pf-c-form__group {
    margin: 0.5rem 0;
  }

  .pf-c-form__label {
    margin-bottom: 0.5rem;
  }

  .pf-c-form__label-text {
    font-size: 0.9rem;
    font-weight: 900 !important;
  }
}

.plugin-select {
  margin-top: 10px !important;

  box-shadow: none;
  .pf-c-accordion__toggle,
  .pf-c-accordion__expanded-content-body {
    color: black !important;
  }
  .pf-c-accordion__toggle {
    border: none !important;
    padding-left: 1rem;
    padding-right: 0.8rem;
    margin-bottom: 0 !important;
    .pf-c-accordion__toggle-text {
      font-size: 0.85rem;
    }
    &.pf-m-expanded .pf-c-accordion__toggle-text {
      font-weight: 900 !important;
    }
  }

  #recent-toggle {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  #all-content,
  #recent-content {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .pf-c-accordion__expanded-content-body {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .plugin-list {
    height: auto;
    overflow: auto;
    padding-right: 0.15rem;
    margin-top: 0.1rem;
  }

  .plugin-list-filter {
    margin-bottom: 0.1rem;
    font-size: 0.85rem !important;
  }

  .plugin-list li {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;

    .version,
    .description {
      font-size: 0.85em;
      color: #6a6e73;
      font-weight: 500;
    }
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
    &.selected {
      background: #e7f1fa;
    }
  }

  .plugin-list-filter {
    outline: none;
  }
}

/** Guided Config **/

.configuration {
  display: flex;
  flex-direction: column;
  margin-top: "1.5rem";

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 1.25rem !important;
    margin-right: 1.25rem !important;
    max-width: 50% !important;
  }

  &__renders {
    margin-top: 1.25rem !important;
  }

  .pf-c-banner {
    background-color: #73bcf7;
    padding: 0.25rem;
  }

  .required-params {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    font-family: monospace !important;

    &__layout {
      display: flex;
      flex-direction: column;
    }

    &__label,
    &__textInput {
      font-size: 0.9rem;
    }
    &__label {
      background-color: #fff;
      color: #000;
      margin-right: 0.25rem !important;
    }
    &__star {
      color: #c9190b;
      font-weight: 900;
    }

    &__infoLabel {
      background-color: #fff;
      color: #72767b;
      font-size: 0.75em;
    }

    &__textInput {
      width: 75%;
    }
  }
}

.configure-compute {
  &__label {
    font-size: 0.9rem !important;
    color: #000 !important;
    margin-right: 0.5em !important;
    background-color: #fff !important;
  }

  .pf-c-options-menu__toggle-text {
    font-size: 0.9rem !important;
    color: #000 !important;
  }
}

.autogenerated {
  &__text {
    font-family: monospace !important;
    display: block;
    overflow: auto;
    font-size: 0.9rem !important;
  }
}

.plugin-configuration {
  display: flex;
  margin: 1rem 0;

  &__dropdown,
  &__input,
  &__parameter {
    font-family: monospace !important;
    font-size: 0.9rem !important;
  }

  &__parameter,
  .pf-c-dropdown__toggle-text {
    font-size: 0.8rem !important;
    font-family: monospace !important;
  }

  &__input {
    width: 80%;
  }
}

.editor {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;

  &__text {
    background-color: #000 !important;
    color: #fff !important;
    font-family: monospace !important;
    height: 170px !important;
    font-size: 1rem !important;
  }
}

.unpacking-dictionary {
  .react-json-view {
    font-size: small;
  }
}

.runtime-parameters {
  display: flex;

  &__label,
  &__flag {
    font-size: 1rem !important;
  }
  &__label {
    background-color: #fff !important;
    color: #000 !important;
    display: block !important;
  }
  &__flag {
    display: inline !important;
    font-weight: 700;
  }
}

.pf-c-wizard__footer {
  flex-direction: row-reverse;
}

.errors {
  font-size: 1rem;
  .error-message {
    color: #c9190b !important;
    font-weight: 700;
  }
  svg {
    color: #c9190b;
    margin-right: 7px;
  }
  margin-top: 5px;
}

.close-icon {
  font-weight: 900;
  color: #06c;
  font-size: 1rem;
  margin: auto, 5px;
}

.docs {
  border: 1px solid #f3be3a;
  background: #fbeabc;
  margin-top: 0.9rem !important;
  font-size: 0.9rem !important;

  .pf-c-expandable-section__toggle {
    border-bottom: 1px solid #f3be3a;

    padding: 0.15rem;
    color: black !important;
    background: #f9d67a !important;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    outline: none;
    svg {
      margin: 0;
      font-size: 1.25rem;
    }
  }
  .pf-c-expandable-section__content * {
    color: black !important;
    margin-top: 10px;
  }
  .param-item {
    padding-bottom: 1rem;
    padding-left: 0.5rem;
  }
  .param-title {
    font-family: monospace;
  }
  .param-help {
    color: #4f5255 !important;
  }
}

/** Review **/

.required-text {
  font-family: monospace;
  font-size: 0.9rem;
}

.review {
  &__title,
  &__value {
    font-size: 0.9rem;
  }

  &__title {
    font-weight: 900;
  }
}
