@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

/* Header */
.feed-details {
  width: 100% important;
  
  &__list {
    &--first {
     display:flex;
     align-items:center;
     font-size:1.25rem;
     gap:0.5rem;
     font-weight: 700;
    }

    &--container-1 {
      display: flex;
      gap:3rem;
    }

     &--container-2 {
      align-self: flex-end;

      @include media-query(1200px) {
        padding-bottom:0.25em; 
      }
    }
    
    ul{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  

      li p span {
        margin-left:0.25em;
      }

      li p time {
         margin-left:0.25em;
      }
    }
  }

 

 












  /*

 
  .feed-info-block {
    h1 {
      font-size: 1.2rem;
      margin: 0.65rem 0;
    }
    p {
      margin-top: 0.3rem;
    }
   

    .pf-c-list.pf-m-inline li:not(:last-child) {
      margin-right: 2rem;
    }
    img {
      margin-right: 0.5rem;
      max-width: 70px;
      width: 90%;
    }
  }
  .feed-breadcrumbs {
    margin-bottom: 20px;
    
    li {
      font-size: 14px;
      display: inline-block;
      margin-right: 20px;
      
    }
    li:not(:last-child) a {
      color: var(--pf-global--primary-color--100) !important;
      text-decoration: none;
    }
  }
*/

}