@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/mixins';
@import '../../../assets/scss/helpers/pf4-variables';

/* Header */

.ant-popover-inner-content {
  padding: 0 !important;
}

.feed-details {
  height: 100%;
  width: 100%;
  --pf-c-toolbar--BackgroundColor: 'inherit' !important;
  &__textarea {
    --pf-c-form-control--BackgroundColor: var(--pf-global--palette--black-1000) !important;
    color: white !important;
    font-family: 'monospace';
    height: 20em !important;
  }

  &__actions {
    background: var(--pf-global--palette--black-1000);
    button {
      margin-right: 0.5em;
    }
  }
}
