@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";
@import "../../../assets/scss/helpers/pf4-variables";

/* Header */

.ant-popover-inner-content {
  padding: 0 !important;
}

.feed-details {
  display: flex;

  &__textarea {
    --pf-c-form-control--BackgroundColor: var(
      --pf-global--palette--black-1000
    ) !important;
    color: white !important;
    font-family: "monospace";
    font-size: 1.25rem;
    height: 20em !important;
  }

  &__actions {
    background: var(--pf-global--palette--black-1000);
    button {
      margin-right: 0.5em;
    }
  }

  @include media-query($pf-global--breakpoint--xs) {
    flex-direction: column;
  }

  @include media-query($pf-global--breakpoint--lg) {
    flex-direction: row;
    li {
      align-self: center;
    }
  }

  li {
    margin-right: 2em;
    svg {
      margin-right: 0.25em;
    }
  }

  li:first-of-type {
    font-weight: bold;
  }
}
