@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";
@import "../../../assets/scss/helpers/pf4-variables";

/* Header */

.ant-popover-inner-content {
  padding: 0 !important;

  background: #151515;
}

.pf-c-radio {
  label {
    color: white;
  }
}

.feed-details {
  height: 100%;
  width: 100%;

  &__note {
    background-color: rgba(3, 3, 3, 0.62) !important;
    color: white !important;
  }
  &__textarea {
    background-color: inherit;
    color: inherit;
    font-family: var(
      --pf-global--FontFamily--redhatfont--sans-serif
    ) !important;
  }
}
