/*
*  File:            FeedTree.scss
*  Description:     This files holds styles specific for Feed Tree
*  Author:          ChRIS UI
*/

@import "../../../assets/scss/helpers/variables";




// Tree Chart Section
// ------------------------------

#tree {
  text-align:center;
}


.link {
  fill: none;
  marker-end: url(#end-arrow);
  opacity: 0.8;
  stroke: $tree-links-color; //007bba - active
  stroke-width: 1.5px;
}

.label{
  fill: $tree-node-backgound;
  font-size: 0.5rem;
  font-family: sans-serif;
}

 @keyframes active{
     0%    { fill:#0088ce; }
    50%   { fill: #7dc3e8; }
    100%  { fill: #0088ce; }
 }

 @keyframes error {
    0%    { fill:#C9190B; }
    90%   { fill: orange; }
    100%  { fill:#C9190B }
}


@keyframes queued {
    0%    { fill: grey; }
    50%   { fill: black; }
    100%  { fill:grey; }
}


.node {
  cursor: pointer;

    &.queued {
    fill: #aaa;
   
    .label {
      fill: #aaa;
    }
  }

    &.success{
    fill:#004080;
    .label {
      fill:#004080; ;
    }
   }

   &.error{
    animation-name: error;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;

     .label{
      fill:#C9190B
    }
  }
  
  &.active {
    animation-name:active;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-fill-mode:both;
    .label {
      fill: #BEE1F4;
    }
  }

  &.selected{
    stroke:white;
    stroke-width: 3px;
  }

  }


