/*
*  File:            FeedTree.scss
*  Description:     This files holds styles specific for Feed Tree
*  Author:          ChRIS UI
*/

@import "../../../assets/scss/helpers/variables";

// Tree Chart Section
// ------------------------------

.mode_tree {
  background: #151515;
}

.mode_graph {
  background: #000f0f;
}

.feed-tree {
  width: 100%;
  height: 100%;
  position: relative;

  .pf-c-switch {
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;

    &__label {
      color: white !important;
      font-size: 0.85rem;
      padding-left: 0;
      margin-left: -0.25em;
      padding-top: 0.25rem;
    }
  }

  &__orientation,
  &__control {
    padding-left: 1rem;
    padding-top: 0.5rem;

    svg {
      color: white;
    }

    &--icon {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }

  &__individual-scale {
    display: flex;

    select {
      height: 50%;
    }

    svg {
      color: black;
    }

    .dropdown-wrap {
      margin-left: 5px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &--labels {
      display: flex;
    }

    &--panelToggle {
      padding-right: 1rem;

      &.node-graph-panel {
        position: absolute;
        right: 0;
        z-index: 10;
      }

      &.graph {
        position: absolute;
        bottom: 30px;
      }
    }
  }

  .feed-graph__container--labels {
    background: #000011;
  }
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.link {
  fill: none;
  marker-end: url(#end-arrow);
  opacity: 0.5;
  stroke: var(--pf-global--palette--black-500); //007bba - active
  stroke-width: 0.75px;
}

.link.ts {
  marker-end: url(#end-arrow);
  opacity: 0.5;
  stroke: #0088ce; //007bba - active
  stroke-width: 1.5px;
}

.label {
  &__title {
    fill: white;
    font-size: 0.8rem;
    font-family: sans-serif;
  }
}

@keyframes active {
  0% {
    fill: #bee1f4;
  }
  50% {
    fill: #0088ce;
  }
  100% {
    fill: #73bcf7;
  }
}

@keyframes graph {
  0% {
    fill: #cbc1ff;
  }
  50% {
    fill: #b2a3ff;
  }
  100% {
    fill: #8476d1;
  }
}

@keyframes error {
  0% {
    fill: #c9190b;
  }
  90% {
    fill: orange;
  }
  100% {
    fill: #c9190b;
  }
}

@keyframes queued {
  0% {
    fill: grey;
  }
  50% {
    fill: black;
  }
  100% {
    fill: grey;
  }
}

.node {
  cursor: pointer;
  fill: "white";

  &.queued {
    fill: #aaa;

    .label {
      fill: #aaa;
    }
  }

  &.success {
    fill: #004080;
    .label {
      fill: #004080;
    }
  }

  &.error {
    animation-name: error;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;

    .label {
      fill: #c9190b;
    }
  }

  &.active {
    animation-name: active;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    .label {
      fill: #bee1f4;
    }
  }

  &.notExecuted {
    fill: #4f5255;
  }

  &.selected {
    stroke: white;
    stroke-width: 3px;
  }

  &.graphSelected {
    animation-name: graph;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-fill-mode: both;
    stroke: white;
    stroke-width: 3px;
  }
}

.node-overlay {
  fill: var(--pf-global--primary-color--100);
}

.pf-c-alert.pf-m-info {
  padding: 0.5em;
}
