/*
*  File:            FeedTree.scss
*  Description:     This files holds styles specific for Feed Tree
*  Author:          ChRIS UI
*/

@import "../../../assets/scss/helpers/variables";



// Tree Chart Section
// ------------------------------
.link {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  opacity: 0.8;
  marker-end: url(#end-arrow);
}
.nodelabel {
  fill: $tree-node-backgound;
  font-size: 0.75rem;
  font-family: sans-serif;
}


.node {
   stroke: #fff;
   stroke-width: 1.5px;
   cursor: pointer;


  &.queued {
    animation-name:queued;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:3;
    animation-delay:1s;
    animation-fill-mode:both;
   
    .label {
      fill: #aaa;
    }
  }

  &.success{
    fill:#004080;
    .label {
      fill: #0066CC;
    }
   }

   &.error{
    animation-name: error;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-delay: 1s;
    animation-fill-mode: both;
    .label{
      fill:#C9190B
    }
   }


    &.active {
    animation-name:active;
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-fill-mode:both;
    .label {
      fill: #BEE1F4;
    }
  }

    &.selected{
     fill:white
   }

}
