/*
*  File:            FeedTree.scss
*  Description:     This files holds styles specific for Feed Tree
*  Author:          ChRIS UI
*/

@import "../../../assets/scss/helpers/variables";




// Tree Chart Section
// ------------------------------

.feed-tree {

  width:100%;
  height:100%;
  position:relative;

  .pf-c-switch {
    display:flex;
    row-gap: 0.30rem;
    flex-direction: column;

    &__label {
      color:white !important;
      font-size: 0.85rem;
      padding-left:0;
      margin-left:-0.25em;
      padding-top:0.25rem;
    }
  }


 
  &__orientation {
    padding-left: 1rem;
    padding-top:0.5rem;

    &--icon {
      font-size: 1.25rem;
      cursor: pointer;
    }

    
  }

  &__container {
    display:flex;
    justify-content: space-between;

    &--labels {
      display:flex;
    }

    &--panelToggle {
      padding-right: 1rem ;

      &.node-graph-panel {
        position: absolute;
        right: 0;
        z-index: 10;
      }

      &.graph {
        position: absolute;
        bottom: 30px;
      }
    }
  }

  

}



.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.link {
  fill: none;
  marker-end: url(#end-arrow);
  opacity: 0.5;
  stroke: var(--pf-global--palette--black-500); //007bba - active
  stroke-width: 1px;
}

.label{
  &__title {
  fill: var(--pf-global--palette--black-400);
  font-size: 0.75rem;
  font-weight: 900;
  font-family: sans-serif;
  }
}

 @keyframes active{
     0%    {fill: #7dc3e8; }
    50%   { fill: #0088ce ; }
    100%  { fill: #004080; }
 }

 @keyframes error {
    0%    { fill:#C9190B; }
    90%   { fill: orange; }
    100%  { fill:#C9190B }
}


@keyframes queued {
    0%    { fill: grey; }
    50%   { fill: black; }
    100%  { fill:grey; }
}


.node {
  cursor: pointer;
  fill: 'white';
 

    &.queued {
    fill: #aaa;
   
    .label {
      fill: #aaa;
    }
  }

    &.success{
    fill:#004080;
    .label {
      fill:#004080; ;
    }
   }

   &.error{
    animation-name: error;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: both;

     .label{
      fill:#C9190B
    }
  }
  
  &.active {
    animation-name:active;
    animation-duration:3s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-fill-mode:both;
    .label {
      fill: #BEE1F4;
    }
  }

  &.selected{
    stroke:white;
    stroke-width: 3px;
  }
  }




