/*
*  File:            freesurferData.scss
*  Description:     This files holds styles specific for the freesurfer output viewer component
*  Author:          ChRIS UI
*/

@import '../../../assets/scss/helpers/pf4-variables'; 
@import '../../../assets/scss/helpers/variables'; 
.freesurfer-data{
    max-width: $pf-global--breakpoint--lg;
    padding: 0 2rem 1rem;
    h1{
        margin-bottom: 0.5rem;
    }
    .pf-l-grid {
        border-bottom: solid 1px var(--pf-global--BackgroundColor--200);
        div{
            font-size: 0.875rem;
            font-weight: var(--pf-c-table--FontWeight);
            
            padding: 5px;
            &.highlight{
                background: var(--pf-global--BackgroundColor--300); //$table-stripe-background;
            }
            &.name{
                text-align: left;
            }
          
        }
    }
 
    .spanRow{
        align-self: center;
        justify-self: start;
    }
    .fs-header{
        border-bottom:solid 1px var(--pf-global--BorderColor--light);
        font-weight: 500;
        >div{
            padding: 5px 0 2px;
            text-align: center;
        }
        
    }

    .fs-row{
        // 798px up
        @media screen and (min-width: $pf-global--breakpoint--md) {
            div{
                text-align: center;
               
                b{
                    display: none;
                }
            }

        }
        // 798px down
        @media screen and (max-width: $pf-global--breakpoint--md) {
            .name{
                font-weight: 700;
                margin-top:5px;
            }
            div:last-child{
                border-bottom:solid 1px var(--pf-global--BorderColor--light);
            }
        }
        
    }
 
}