/*
*  File:            zScoreData.scss
*  Description:     This files holds styles specific for the z-score tables
*  Author:          ChRIS UI
*/

@import '../../assets/scss/helpers/pf4-variables'; 
@import '../../assets/scss/helpers/variables'; 
.zscore-table{
    max-width: $pf-global--breakpoint--lg;
    padding: 0 2rem 1rem;
    h1{
        margin-bottom: 0.5rem;
    }

}