.ant-popover-inner-content{
  width:20rem !important;
}

.list-container {
  overflow-y: scroll;
  width:100%;
  height:20vh;
  padding-top:1rem;
  padding-bottom:1rem;
}

.computedValue, .input {
  font-family: monospace;
}

