#pacs-query-builder {
  #search {
    height: 100%;
    #search-value, #search-value *, #search-type, #search-type > button {
      height: 100%;
    }
    #search-value {
      width: 100%;
    }
  }

  #finalize {
    width: 100%;
  }

  #filters {
    .pf-l-split {
      width: 100%;
    }
  }
}

#pacs-query-results {
  .pf-l-split {
    width: 100%;
  }

  .result-expanded {
    padding: 1em 3em;

    .expanded-tabs {
      min-width: 20%;
    }

    .expanded-content {
      .patient-studies {
        padding: 1em 2em;
        max-height: 50vh;
        overflow: scroll;
        
        .pf-c-card {
          padding: 0.75em 1.75em;

          .pf-c-card__body {
            padding: 0;
            font-size: small;
          }
        }
      }

      .patient-series {
        padding: 1em 2em;
        max-height: 50vh;
        overflow: scroll;
        
        .pf-c-card {
          padding: 0.75em 1.75em;

          .pf-c-card__body {
            padding: 0;
          }
        }
      }
    }
  }
}