#pacs-query-builder {
  #search {
    height: 100%;
    #search-value, #search-value *, #search-type, #search-type > button {
      height: 100%;
    }
    #search-value {
      width: 100%;
      height: 56px;
    }

    #search-type, #search-type > button {
      height: 100%;
      width: 100%;
    }

    #pacs-service, #pacs-service > button {
      height: 100%;
      width: 100%;
    }
    .sm-w-100 {
      @media (max-width: 600px) {
        // width: 100%;
      }
    }
  }

  #finalize {
    width: 100%;
  }

  #filters {
    .pf-l-split {
      width: 100%;
    }
  }
}

#pacs-query-results {
  .pf-l-split {
    width: 100%;
  }

  .result-expanded {
    padding: 1em 3em;

    .expanded-tabs {
      min-width: 20%;
    }
  }

  .patient-studies {
    margin-top: 1em;
    padding: 1em 2em;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    // max-height: 50vh;
    // overflow-y: scroll;
    // overflow-x: hidden;
    
    .pf-c-card {
      padding: 0.75em 1.75em;

      .pf-c-card__header {
        padding: 0;
        font-size: small;

        .study-detail-title {
          color: gray;
          font-weight: 600;
        }
      }
    }
  }

  .patient-series {
    margin-top: 1em;
    padding: 1em 2em;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    // max-height: 50vh;
    // overflow-y: scroll;
    // overflow-x: hidden;
    
    .pf-c-card {
      padding: 1em;

      .pf-c-card__body {
        padding: 0;

        .series-actions {
          background-color: #ddd;
          margin: -1em -1em 1em -1em;
          height: 8em;
          overflow: hidden;
          position: relative;

          .action-button-container {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            padding: 1em;
            text-align: center;
          }

          .action-button-container[class~="hover"] {
            opacity: 0;
            transition: opacity 0.25s ease;
            &:hover {
              opacity: 1;
              background-color: #ffffffab;
            }
          }
        }
      }
    }
  }
}