@import "../../../assets/scss/helpers/pf4-variables";
@import "../../../assets/scss/helpers/variables";

/* General */

.create-feed-button {
  float: right;
  border-radius: 4px !important;
}

.pf-c-wizard {
  width: 100% !important;
  height: 100% !important;
  h2 {
    color: white !important;
  }
}

.pf-c-modal-box {
  padding: 0 !important;
}

.feed-create-wizard {
  .pf-c-wizard__header {
    background: #282d33;
  }

  .pf-c-wizard__footer {
    flex-direction: row-reverse;
  }

  .pf-c-wizard__nav .pf-m-current {
    color: var(--pf-c-wizard__nav-link--m-current--before--BackgroundColor);
  }

  .pf-c-wizard__main-body {
    // padding is moved to pacs-alert-wrap, to make pacs alert flush with border
    padding: 0;
  }
}

.pacs-alert-wrap {
  .pacs-alert-step-wrap {
    padding: var(--pf-c-wizard__main-body--PaddingTop)
      var(--pf-c-wizard__main-body--PaddingRight)
      var(--pf-c-wizard__main-body--PaddingBottom)
      var(--pf-c-wizard__main-body--PaddingLeft);
  }

  .pacs-alert {
    background: var(--pf-global--palette--blue-50);
    padding: 11px 11px;
    color: black;
  }
}

/* Basic Information */

.basic-information {
  // typerheader
  .rbt-input-multi {
    padding: 5px 34px 5px 12px;
  }
  .rbt-close {
    margin-top: 3px;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .rbt-token {
    background: var(--pf-global--Color--light-100);
    border: solid 1px var(--pf-global--Color--dark-200);
    border-radius: 3px;
    color: $pf-color-black-900;
    font-size: 14px;
    line-height: 1em;
    margin: 0 5px 4px 0;
    padding: 8px 30px 4px 10px;

    button {
      font-size: 18px !important;
      padding-top: 8px !important;
      margin-top: 0;
    }
  }
}

/* Data Configuration */

.local-file-upload,
.chris-file-select {
  .pf-l-split__item:first-child {
    // "file upload/select" section
    border-right: 1px solid #a4a4a4;
    padding-right: var(--pf-l-split--m-gutter--MarginRight);
  }
  .section-header {
    margin-bottom: 10px;
  }
  .file-remove {
    cursor: pointer;
  }

  .loading-error-alert {
    width: 100%;
    .error-details {
      padding: 10px;
      margin: 10px 0px;
      font-weight: normal;
      border-left: 1px solid var(--pf-global--danger-color--100);
    }
  }
}

/* ChRIS File Select and Local File Upload */

.review {
  padding-left: 20px;
  .tag {
    margin-right: 10px !important;
  }
  .file-warning {
    font-weight: bold;
    svg {
      font-size: 1.5em;
      color: var(--pf-global--warning-color--100);
      margin-right: 10px;
      margin-top: 15px;
      vertical-align: -0.225em;
    }
  }
}

.data-configuration {
  &__subtitle {
    font-size: 18px;
    color: #737679;
  }
}

.plugin-table-row {
  display: flex;
  flex-direction: column;

  &__plugin-name {
    font-size: 18px;
  }
  &__plugin-description {
    font-size: 18px;
    color: #737679;
  }
}

.ant-tree {
  font-size: 16px;
  color: black;
  font-family: var(--pf-global--FontFamily--redhatfont--sans-serif) !important;
}

.fsplugin {
  &__datatoolbar {
    display: flex;
  }
}

.pf-c-radio {
  margin-bottom: 15px !important;
  &__label {
    font-size: 18px !important;
  }
  &__input {
    font-size: 18px !important;
  }
}

.pf-c-data-list__check input[type="checkbox"]:before {
  width: 20px !important;
  height: 20px !important;
}

.pf-c-data-list__check input[type="checkbox"]:after {
  top: -20px !important;
  width: 16px !important;
  height: 16px !important;
}

.pf-c-data-list__check input[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}

.pf-c-data-list__check input[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: "";
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.pf-c-data-list__check input[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}

.site-tree-search-value {
  color: #f50;
}
[data-theme="dark"] .site-tree-search-value {
  color: #d84a1b;
}

.finished-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1.5em;

  &__header {
    margin-bottom: 15px !important;
  }
  &__icon {
    height: 4em;
    width: 4em;
    margin-bottom: 15px !important;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10%;
    margin-top: 3em;
  }
}

.file-preview {
  margin-top: 5px;
}
.trash-icon,
.file-icon {
  font-weight: 900;
  color: #06c;
  margin-right: 5px;
  margin-left: 5px;
}
.file-name {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  font-family: monospace;
}
