@import "../../../assets/scss/helpers/pf4-variables";
@import "../../../assets/scss/helpers/variables";

/* General */

.create-feed-button {
  float: right;
  border-radius: 4px !important;
}

.feed-create-wizard {
  .pf-c-wizard__header {
    background: #282d33;
  }

  .pf-c-wizard__outer-wrap {
    max-height: 646px;
  }

  .pf-c-wizard__footer {
    flex-direction: row-reverse;
  }

  .pf-c-wizard__nav .pf-m-current {
    color: var(--pf-c-wizard__nav-link--m-current--before--BackgroundColor);
  }

  .pf-c-wizard__main {
    height: 100%;
  }
  .local-file-upload {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pf-l-split {
    height: 100%;
  }
  .file-list {
    .file-preview svg {
      font-size: 17px;
    }
    .file-name {
      margin: 0 10px;
      vertical-align: top;
    }
  }
}

@media (max-width: $pf-global--breakpoint--lg) {
  .feed-create-wizard .pf-c-wizard__outer-wrap {
    max-height: 100%;
  }
}

/* Basic Information */

.basic-information {
  // typerheader
  .rbt-input-multi {
    padding: 5px 34px 5px 12px;
  }
  .rbt-close {
    margin-top: 3px;
  }
  .dropdown-menu {
    margin-top: 0;
  }
  .rbt-token {
    background: var(--pf-global--Color--light-100);
    border: solid 1px var(--pf-global--Color--dark-200);
    border-radius: 3px;
    color: $pf-color-black-900;
    font-size: 14px;
    line-height: 1em;
    margin: 0 5px 4px 0;
    padding: 8px 30px 4px 10px;

    button {
      font-size: 18px !important;
      padding-top: 8px !important;
      margin-top: 0;
    }
  }
}

/* Data Configuration */

.local-file-upload,
.chris-file-select {
  .pf-l-split__item:first-child {
    // "file upload/select" section
    border-right: 1px solid #a4a4a4;
    padding-right: var(--pf-l-split--m-gutter--MarginRight);
  }
  .section-header {
    margin-bottom: 10px;
  }
  .file-remove {
    cursor: pointer;
  }
}

/* ChRIS File Select and Local File Upload */

.chris-file-select,
.local-file-upload {
  .pf-c-wizard__main,
  .pf-c-wizard__main > div {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
  }

  .pf-l-split {
    display: flex;
    overflow: hidden !important;
  }

  .pf-l-split__item {
    display: flex;
    overflow: hidden !important;
    flex-direction: column;
  }

  // allow file select and file lists to scroll automatically
  .m-tree,
  .file-list {
    display: flex;
    flex-direction: column;
  }
}

.chris-file-select {
  .m-node .inner span {
    display: inline-block;
  }

  // hidden root level
  .m-tree > .m-node {
    padding-left: 0 !important;
    padding-top: 5px !important;
    & > {
      .inner {
        display: none;
      }
      .children {
        padding-left: 0 !important;
      }
    }
  }

  .m-node {
    padding: 10px 15px;
    .name {
      margin-left: 20px;
    }
  }

  // top-level nodes
  .m-tree > .m-node > .children > .m-node:not(:first-child) {
    border-top: 1px solid $fe-viewer-border;
  }

  .pf-c-check {
    display: inline-block !important;
    margin-right: 3px;
  }

  .children .m-node:last-child {
    padding-bottom: 0;
  }

  .m-node svg {
    font-size: 18px;
    margin: 0 10px;
  }

  .match-highlight {
    background: $file-explorer-yellow;
  }

  // arrow next to folders
  .collapse:before {
    position: relative;
    content: "" !important;
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    left: -2px;
    margin-right: 0.45em; // should be 1/2 of width and height
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(45deg);
  }

  .caret-down {
    transform: rotate(90deg);
    margin-right: 5px;
  }
}

.file-list-wrap {
  max-width: 60%;
}

.review {
  .tag {
    margin-right: 10px !important;
  }
  .file-warning {
    font-weight: bold;
    svg {
      font-size: 1.5em;
      color: var(--pf-global--warning-color--100);
      margin-right: 10px;
      margin-top: 15px;
      vertical-align: -0.225em;
    }
  }
}

.data-configuration {
  &__subtitle {
    font-size: 18px;
    color: #737679;
  }
}

.plugin-table-row {
  display: flex;
  flex-direction: column;

  &__plugin-name {
    font-size: 18px;
  }
  &__plugin-description {
    font-size: 18px;
    color: #737679;
  }
}

.ant-tree {
  font-size: 18px;
  color: black;
}

.fsplugin {
  &__datatoolbar {
    display: flex;
  }
}

.pf-c-radio {
  margin-bottom: 15px !important;
  &__label {
    font-size: 18px !important;
  }
  &__input {
    font-size: 18px !important;
  }
}

.pf-c-data-list__check input[type="checkbox"]:before {
  width: 20px !important;
  height: 20px !important;
}

.pf-c-data-list__check input[type="checkbox"]:after {
  top: -20px !important;
  width: 16px !important;
  height: 16px !important;
}

.pf-c-data-list__check input[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}

.pf-c-data-list__check input[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: "";
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.pf-c-data-list__check input[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}

.site-tree-search-value {
  color: #f50;
}
[data-theme="dark"] .site-tree-search-value {
  color: #d84a1b;
}

.finished-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15em;
  margin-top: 5em;

  &__header {
    margin-bottom: 15px !important;
  }
  &__icon {
    height: 4em;
    width: 4em;
    margin-bottom: 15px !important;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15em;
    margin-top: 15px;
  }
}
