.cs410f23-node-tree {
	width: 100%;
	height: 100%;
	overflow: hidden;

	fill: white;
	color: white;
	stroke-width: 1;
}

.rd3t-link {
	stroke: var(--pf-global--palette--black-500) !important;
	marker-end: url("#end-arrow");
}

.rd3t-node {
	color: white;
	fill: white;
}

:root {
	--cs410f23-node-width: 200px;
	--cs410f23-node-height: 350px;
	--cs410f23-header-height: 30px;

	--cs410f23-size: calc(var(--cs410f23-header-height) / 3);
	--cs410f23-hsize: calc(var(--cs410f23-size) / 2);
}

.cs410f23-wrap {
	overflow: visible;
}

.cs410f23-wrap p {
	margin: 0;
}

.cs410f23-node {
	min-width: var(--cs410f23-node-width);
	min-height: var(--cs410f23-node-height);

	border-radius: 5x;
	font-family: sans-serif;
	overflow: visible;
}

.cs410f23-header {
	min-height: var(--cs410f23-header-height);

	background-color: #004080;

	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 0 10px;
	position: relative;
}

.cs410f23-body {
	background: rgb(51, 51, 51);
	margin: 0;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.cs410f23-fileview {
	max-height: 200px;
	overflow-y: auto;

	padding: 5px 5px;
}

.cs410f23-fileview-row {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	line-height: 24px;
	padding-left: 5px;
}

.cs410f23-fileview-row-icon {
	margin-right: 5px;
	font-size: 18px;
}

.cs410f23-fileview-row-icon > * {
	vertical-align: middle;
}

.cs410f23-fileview-row-selected {
	background:rgb(100, 100, 100);
	border-left: 2px solid white;
	padding-left: 3px;
}

.cs410f23-preview {
	width: 200px;
	height: 200px;

	overflow: hidden;

	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}