.share-feed-label {
  background-color: #fff !important;
  text-align: left !important;
  color: black !important;
  font-size: 1rem !important;
}

.share-feed-button {
  color: #fff !important;
  background-color: #004080 !important;
  padding: 10px !important;
  margin-top: 0.5em !important;
}

.share-feed-icon-text {
  margin-left: 0.5em;
}
