.build-version {
  color: white;
}

.description-section {
  border-radius: 8px;
  height: 100%;
}

.uniform-card-height {
  height: 450px; /* Set a consistent height for both cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-section h2 {
  color: #007bff; /* Blue accent */
  margin-bottom: 10px;
}

.description-section p {
  font-size: 16px;
  text-align: justify;
}

.tree-section {
  width: 100%;
  flex-grow: 1; /* Allow the graph to fill the remaining space */
  border: 1px solid #dddddd;
  border-radius: 8px;
  overflow: hidden; /* Hide overflow */
  position: relative;
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
  .tree-section {
    height: 400px;
  }
}
