/*
*  File:            viewer.scss
*  Description:     This files holds styles specific for ami viewer
*  Author:          ChRIS UI
*/

.ami-wrapper{
    color: #fff;
    min-height: 100%;
    a{
        color: #fff;
    }
}