.pluginList {
  &__authors,
  &__version {
    font-size: 0.85rem;
    color: var(--pf-global--palette--black-500);
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__authors {
    margin-bottom: 0.25em;
  }
  &__version {
    margin: 0;
  }

  .pf-c-card__title {
    display: flex;
    align-items: center;
  }
}

.panelcontent {
  @media (max-width: 767px) {
    margin-top: 5rem;
    border-top: 1px solid rgba(199, 198, 198, 0.381);
  }
}

