 /* loading class if non-white, used for loading content */
 .loading-content {
  /* color */
  background: #f5f5f5;
  
  /* position */
  position: relative;
  
  /* other */
  box-shadow: 1px 0 2px #ededed;
  overflow: hidden;
}
  
.loading-content:before {
  /* color */
  background-image: linear-gradient(45deg, #f5f5f5, #ededed, #f5f5f5);

  /* display */
  display: block;
  height: 100%;
  width: 100%;

  /* position */
  position: absolute;
  top: 0;
  left: 0;

  /* other */
  content: '';   
  animation: 1.6s ease-in-out loading infinite;
}
  
/* loading class if white, used for loading content */
.loading-content.white {
  /* color */
  background: #fafafa;
  
  /* other */
  box-shadow: 1px 0 2px #f5f5f5;
  overflow: hidden;
}

.loading-content.white:before {
  /* color */
  background-image: linear-gradient(45deg, #fafafa, #f0f0f0, #fafafa);

  /* display */
  display: block;
  height: 100%;
  width: 100%;

  /* position */
  position: absolute;
  top: 0;
  left: 0;

  /* other */
  content: '';   
  animation: 1.6s ease-in-out loading infinite;
}

/* loading keyframe */
@keyframes loading {
  0% { left: -100%; }
  10% { left: -100%; }
  90% { left: 100%; }
  100% { left: 100%; }
}