/*
*  File:            _layout.scss
*  Description:     This file holds styles overall page styles and structures
*  Author:          ChRIS UI
*/

// Root container
// ---------------------------------------------------------
#root{
    height: 100%;
}


// Base Element Styles
// ---------------------------------------------------------

article { 
    max-width: 1400px;
    margin: 1em auto;
    width: 100%;
}

// Page Header:
// ---------------------------------------------------------


.pf-c-page__header-brand-toggle {
    margin-right:1rem !important;
    top:-0.5 !important;
}




