/*
*  File:            _layout.scss
*  Description:     This file holds styles overall page styles and structures
*  Author:          ChRIS UI
*/

// Root container
// ---------------------------------------------------------
#root {
  height: 100%;
}

// Base Element Styles
// ---------------------------------------------------------

article {
  max-width: 1400px;
  margin: 0.5em auto;
  padding: 1em 1em;
  width: 100%;
}

// Page Header
// ---------------------------------------------------------

.pf-c-login {
  --pf-c-login__main--BackgroundColor: inherit;
  --pf-c-login__main-footer-band--BackgroundColor: inherit;
}

.ant-alert-info {
  background: var(
    --pf-global--BackgroundColor--dark-transparent-100
  ) !important;
}

.pf-c-table.pf-m-sticky-header
  > thead:not(.pf-m-nested-column-header)
  > tr
  > * {
  background: inherit !important;
}

.pf-c-table,
thead,
tr {
  border: solid 0.25px var(--pf-global--BackgroundColor--dark-400) !important;
}

label {
  color: white !important;
}

.pf-c-button {
  --pf-c-button--m-primary--Color: white !important;
  --pf-c-button--m-primary--BackgroundColor: var(
    --pf-global--palette--blue-500
  ) !important;
  --pf-c-button--m-primary--hover--Color: var(
    --pf-global--primary-color--dark-400
  );
  --pf-c-button--m-primary--focus--Color: var(
    --pf-global--primary-color--dark-400
  );
  --pf-c-button--m-primary--active--Color: var(
    --pf-global--primary-color--dark-400
  );
}

.pf-c-app-launcher__menu {
  background-color: inherit !important;
}

.pf-c-button.pf-m-secondary,
.pf-c-button.pf-m-plain,
.pf-c-button.pf-m-link,
.pf-c-button.pf-m-tertiary {
  color: white !important;
}

.pf-c-page__header{
  background-color: #18181b;
  border-bottom: 1px solid #36363d;
}

.pf-c-toolbar{
  background-color: #18181b;
}

.pf-c-page__main-section.pf-m-dark-100{
  background-color: #18181b;
}


.pf-c-page__header-brand-toggle {
  margin-right: 1rem !important;
  top: -0.5 !important;
}

.pf-c-input-group__text {
  background-color: #36363d !important;
  color: white;
}
.pf-c-page__sidebar{
  background-color: #18181b !important;
  border-right: 1px solid #36363d;
}
.pf-c-form-control {
  color: white !important;
  --pf-c-form-control--Color: white;
  --pf-c-form-control--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-transparent-200
  ) !important;
  --pf-c-form-control--disabled--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-transparent-200
  ) !important;
}

.pf-c-data-list {
  --pf-c-data-list__item--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-transparent-200
  ) !important;
  color: white !important;
}

.pf-c-input-group {
  --pf-c-input-group--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-transparent-200
  ) !important;
  color: white !important;
}

.pf-c-code-block {
  --pf-c-code-block--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-100
  );
  border: 2px solid white !important;
}

.pf-c-modal-box {
  --pf-c-modal-box--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-400
  );
}

.pf-c-drawer {
  --pf-c-drawer__panel--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-200
  ) !important;
  --pf-c-drawer__content--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-200
  ) !important;
}

.pf-c-wizard {
  color: white;

  &__nav,
  &__toggle {
    display: none;
  }
  &__header{
    background-color: #36363d !important;
  }
  &__footer {
    background-color: #36363d;
  }

  &__outer-wrap {
    padding-left: 0;
  }

  --pf-c-wizard__outer-wrap--BackgroundColor: #18181b ;
  --pf-c-wizard__nav--BackgroundColor: var(
    --pf-global--BackgroundColor--dark-400
  );
  --pf-c-wizard__nav-link--Color: white;
  --pf-c-wizard__nav-link--TextDecoration: var(
    --pf-global--link--TextDecoration
  );
  --pf-c-wizard__nav-link--hover--Color: white;
  --pf-c-wizard__nav-link--focus--Color: white;
  --pf-c-wizard__nav-link--m-current--Color: white;


  .pf-c-form-control {
    color: white;
    --pf-c-form-control--BackgroundColor: #18181b !important;
    --pf-c-form-control--placeholder--Color: var(
      --pf-global--Color--400
    ) !important;
  }

  .ant-tree {
    color: inherit !important;
    background-color: inherit !important;
    font-size: 16px;
    font-family: var(
      --pf-global--FontFamily--redhatfont--sans-serif
    ) !important;
  }

  .pf-c-radio > label,
  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title,
  .ant-steps-item-wait
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title,
  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: white;
  }

  .ant-tree.ant-tree-directory .ant-tree-treenode::before {
    background-color: inherit;
    position: relative;
  }

  .pf-c-chart {
    svg {
      text {
        tspan {
          fill: white !important;
        }
      }
    }
  }
}

.pf-c-toggle-group__button {
  background-color: inherit;
}

.pf-c-form-control[readonly] {
  background-color: inherit;
}

.pf-c-table caption {
  background-color: inherit;
  color: white;
}

.pf-c-accordion__toggle:hover {
  background-color: inherit;
}

.pf-c-form__helper-text {
  color: white !important;
}

.pf-l-grid__item > .pf-c-card{
  background-color: #36363d;
}

.pf-c-drawer__head{
  background-color: #18181b !important;
}
div.pf-c-drawer__panel-main {
  background-color: #18181b !important;
}