/*
 *   File:           dataTableToolbar.scss
 *   Description:    This files holds style overrides for dataTableToolbar component
 *   Author:         Chris 
 */


 // Data table search bar
.datatable-toolbar{
    margin: 0 0 1rem;
    max-width: 500px;
   .pf-c-input-group .toolbar-label, input{
        color: #000;
        font-size: 0.875rem;
        font-weight: 500;
    }
    .pf-c-input-group .toolbar-label{
        padding: 0 2rem;
        text-transform: capitalize;
    }
}