.result-grid,
.patient-studies,
.patient-series {
  margin-top: 1em;
}

.result-grid {
  padding-top: 1em;
  padding-bottom: 1em;
}

.patient-studies,
.patient-series {
  padding: 1em 2em;
  border-right: 0.5px solid lightgray;
  border-left: 0.5px solid lightgray;
}

.pf-v5-c-card__header-main {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .last-item-align {
    text-align: right;
  }
}

.series-grid {
  margin-top: 1rem;
}

.flex-studies-item {
  width: 18%;
  margin-left: 0.5em;
}

.button-with-margin {
  margin-top: 0.25em;
}

.flex-series-item {
  width: 15%;
  margin-left: 1em;
}

.steps-container {
  flex: 2;
}

.flex-series-item.button-container {
  flex: 1;
  margin-left: 1.5em;
}

@media (max-width: 600px) {
  .flex-series-item {
    width: 100%; /* Set full width for all elements on smaller screens */
  }

  .flex-series-item.steps-container {
    flex: 1; /* Adjust the flex value for steps container on smaller screens */
  }

  .flex-series-item.button-container {
    flex: 1; /* Adjust the flex value for button container on smaller screens */
  }
}
