article {
  max-width: 1400px;
  margin: 0.5em auto;
  padding: 1em 1em;
  width: 100%;
}

.patient-studies,
.patient-series {
  margin-top: 1em;
  padding: 1em 2em;
  border-right: 0.5px solid lightgray;
  border-left: 0.5px solid lightgray;
}

.study-detail-title {
  font-weight: 600;
}

.pf-v5-c-card__header-main {
  flex: 1;
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 769px) {
  .last-item-align {
    text-align: right;
  }
}

.series-grid {
  margin-top: 1rem;
}

.buttonContainer {
  padding-left: 1rem;
}

.flex-series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-series-item {
  flex: 1;
  box-sizing: border-box;
  max-width: 350px; /* Set your desired maximum width for each flex-series-item */
  margin: 0 5px; /* Adjust the margin as needed */
}

.flex-series-item.steps-container {
  flex: 3; /* Adjust the flex value to allocate more space for the Steps container */
  max-width: none; /* Allow the Steps container to take the full available width */
}
