.result-grid,
.patient-studies,
.patient-series {
  margin-top: 1em;
}

.full-width-row > .ant-row {
  min-width: 100%;
}

.patient-studies,
.patient-series {
  padding: 1em 2em;
  border-right: 0.5px solid lightgray;
  border-left: 0.5px solid lightgray;
}

.pf-v5-c-card__header-main {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .last-item-align {
    text-align: right;
  }
}

.series-grid {
  margin-top: 1rem;
}

.flex-studies-item {
  width: 18%;
  margin-left: 0.5em;
}

.button-with-margin {
  margin-top: 0.25em;
}

.flex-series-item {
  width: 15%;
  margin-left: 1em;
}

.steps-container {
  flex: 2;
}

.flex-series-item.button-container {
  flex: 1;
  margin-left: 1.5em;
}

@media (max-width: 600px) {
  .flex-series-item {
    width: 100%; /* Set full width for all elements on smaller screens */
  }

  .flex-series-item.steps-container {
    flex: 1; /* Adjust the flex value for steps container on smaller screens */
  }

  .flex-series-item.button-container {
    flex: 1; /* Adjust the flex value for button container on smaller screens */
  }
}

.hide-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.retrieve-progress {
  .pf-v5-c-progress__description {
    display: none !important;
  }
}

.series-actions {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hiddem;
  transition: opacity 0.3s, visibility 0.3s;
}

.series-actions:hover {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.action-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.progress-active {
  .pf-v5-c-progress__indicator {
    background-color: #bee1f4;
  }
}

.progress-success {
  .pf-v5-c-progress__indicator {
    background-color: #0066cc;
  }
}
