.pf-c-page__sidebar-body {
  padding: 0.5em !important;
}

.pf-c-nav__item {
  margin-top: 0;
}

.pf-c-nav__link {
  min-height: 5vh;
}

.pf-c-nav__section-title {
  font-weight: 600;
  color: gray !important;
}

.pf-c-page__sidebar {
  width: 15rem !important;
}
