/*
*  File:            amiViewer.scss
*  Description:     This files holds styles specific for the dcm viewer
*  Author:          ChRIS UI
*/

.ami-viewer {
  position: relative;
  min-height: calc(100vh - 400px);
  #container {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}


.loader {
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 1.5rem;

  span {
    color: white;
  }
}



