/*
*  File:            amiViewer.scss
*  Description:     This files holds styles specific for the dcm viewer
*  Author:          ChRIS UI
*/

.ami-viewer{
    position:relative;
    min-height: calc(100vh - 100px);
    #container {
        bottom: 0;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
    
    #my-gui-container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
  
}

.loader{
    color: #fff;
    left:45%;
    position: fixed;
    text-align: center;
    top: 40%;
    z-index: 10;
    >div{
        margin-bottom: 20px;
    }
}
  