$imgViewerBackgroundColour: black;
$textColor: white;
$GreyTextColor: #868686;
$opacityLevel: 0.75;
$headerBlue: #73bcf7;
$iconfont-size: 0.6rem;

.dicom-header {
  z-index: 2;
  background: rgba(0, 0, 0, $opacityLevel); //$imgViewerBackgroundColour;
  color: $textColor;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

  .dicom-logo{
    position: absolute;
    left: 0;
    top: 0;

    .dicom-logo__text{
      font-size: 0.8rem;
    }
  }

  button {
    margin: 0.4rem -4px;
    svg {
      color: #fff;
      font-size: $iconfont-size;
    }
  }
  // .dicom-header__body-tools,
  // .dicom-header__body-resets {
  //   padding-right: 2rem;
  // }
  .dicom-header__center-tools{
    display: flex;
    flex-flow: row nowrap;

    .dicom-header__tools-text{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      padding-right: 1rem;
    }
  }

  .pf-m-active {
    color: red !important;
  }

  button:hover,
  button:focus {
    svg {
      color: $headerBlue;
    }
  }
}

.dicom-logo {
  padding: 0.8rem;
  margin-right: 4rem;

  &__text {
    font-size: 1.4rem;
    color: $headerBlue !important;
    font-weight: 900;
    display: block;
  }
}

.dicomTag {
  &__list {
    &__item {
      font-family: monospace;
       &--name {
         font-weight:bold;
         
       }
    }
  }
}
