# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cypress-run:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: setup CUBE
        id: cube
        uses: Mfonn/miniChRIS-docker@master
        with:
          plugins: |
            https://chrisstore.co/api/v1/plugins/2/
            https://chrisstore.co/api/v1/plugins/152/

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          start: npm run dev
          wait-on: "http://localhost:3000"
          # wait for 5 min for the server to respond
          wait-on-timeout: 600
