/*
*  File:            feed.scss
*  Description:     This files holds styles specific for the Feed view page
*  Author:          ChRIS UI
*/

@import "../../assets/scss/abstracts/colors";
@import "../../assets/scss/helpers/mixins";
@import "../../assets/scss/helpers/pf4-variables";
@import "antd/dist/antd.css";

.feed-header {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5em !important;

  &__split {
    display: flex;
    justify-content: space-between;
  }

  .pf-c-title {
    display: inline-block;
    margin-top: 0.5rem;
  }

  &__count {
    color: var(--pf-global--Color-200);
    font-weight: var(--fw-normal);
    margin-left: 0.25em;
  }
}

.feed-list {
  .pf-c-table {
    --pf-c-table-tbody-cell--PaddingTop: 1rem;
    --pf-c-table-tbody-cell--PaddingBottom: 1rem;
    margin-bottom: 1rem;
  }

  thead {
    background-color: var(--pf-global--palette--black-100);
  }

  &__count {
    margin-left: 1.25em;
    display: block;
  }

  .error {
    background-color: red;
  }

  &__split {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    a {
      margin-left: 0.25em;
    }
    cursor: pointer;
    outline: none;
  }

  td:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  td:first-child {
    padding-right: 0 !important;
    padding-left: 0.25;
  }
}

.section-one {
  padding: 0 1em !important;

  @include media-query($pf-global--breakpoint--xl2) {
    height: 5vh;
  }
}

.section-two {
  @include media-query($pf-global--breakpoint--sm) {
    height: auto;
  }
  @include media-query($pf-global--breakpoint--md) {
    height: 45vh;
  }

  @include media-query($pf-global--breakpoint--lg) {
    height: 40vh;
    .pf-c-drawer.pf-m-inline > .pf-c-drawer__main > .pf-c-drawer__content {
      overflow: hidden;
    }
  }

  @include media-query($pf-global--breakpoint--xl) {
    height: 40vh;
  }
}

.section-three {
  @include media-query($pf-global--breakpoint--sm) {
    height: auto;
  }

  @include media-query($pf-global--breakpoint--md) {
    height: 45vh;
  }

  @include media-query($pf-global--breakpoint--lg) {
    height: 45vh;
  }

  @include media-query($pf-global--breakpoint--xl2) {
    height: 45vh;
  }

  background: #d2d2d2 !important;
  padding-right: 0 !important;
  padding-top: 0.5rem !important;
}

.pf-c-drawer__splitter {
  background-color: var(
    --pf-c-page__main-section--m-dark-100--BackgroundColor
  ) !important;

  &-handle::after {
    border-color: white !important;
  }
}

.feed-block {
  background: $tree-node-backgound;
  height: 100%;
}

.node-block {
  padding: 0.5em;
}

#feed-list {
  .pf-l-split__item {
    display: flex;
    span,
    div {
      margin: auto 0;
    }
  }
}

.pf-c-check input[type="checkbox"]:before,
.pf-c-data-list__check input[type="checkbox"]:before {
  width: 20px !important;
  height: 20px !important;
}

.pf-c-check input[type="checkbox"]:after,
.pf-c-data-list__check input[type="checkbox"]:after {
  top: -20px !important;
  width: 16px !important;
  height: 16px !important;
}

.pf-c-check input[type="checkbox"]:before,
.pf-c-data-list__check input[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}

.pf-c-check input[type="checkbox"]:after,
.pf-c-data-list__check input[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: "";
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.pf-c-check input[type="checkbox"]:checked:after,
.pf-c-data-list__check input[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}
