/*
*  File:            feed.scss
*  Description:     This files holds styles specific for the Feed view page
*  Author:          ChRIS UI
*/

@import "../../assets/scss/helpers/variables";

/* Header */
.feed-details {
  .feed-info-block {
    h1 {
      font-size: 1.2rem;
      margin: 0.65rem 0;
    }
    p {
      margin-top: 0.3rem;
    }
    .pf-c-list.pf-m-inline li:not(:last-child) {
      margin-right: 2rem;
    }
    img {
      margin-right: 0.5rem;
      max-width: 70px;
      width: 90%;
    }
  }
  .feed-breadcrumbs {
    margin-bottom: 20px;
    li {
      font-size: 14px;
      display: inline-block;
      margin-right: 20px;
    }
    li:not(:last-child) a {
      color: var(--pf-global--primary-color--100) !important;
      text-decoration: none;
    }
  }
}

.feed-header {
  padding-top: 25px !important;
  padding-bottom: 25px !important;

  .pf-c-breadcrumb__heading {
    color: var(--pf-global--primary-color--100);
    font-weight: 500;
  }

  .bottom {
    margin-top: 15px;
  }

  .pf-c-title {
    display: inline-block;
    font-weight: 500 !important;
  }

  .feed-count {
    color: var(--pf-global--Color--200);
    font-weight: normal;
  }
}

.feed-list {
  // table
  .pf-c-table {
    --pf-c-table-tbody-cell--PaddingTop: 15px;
    --pf-c-table-tbody-cell--PaddingBottom: 15px;
    margin-bottom: 20px;
    color: black;
    thead {
      color: var(--pf-global--secondary-color--100);
    }
  }

  // filter and pagination
  .feed-list-controls {
    display: flex;
  }

  // table columns
  .feed-name {
    outline: none;
    cursor: pointer;
    img {
      width: 40px;
      margin-right: 10px;
      transform: rotate(180deg);
    }
  }

  .last-commit {
    display: block;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  td:last-child {
    // "view feed details" column
    padding-right: 0;
    padding-left: 0;
  }

  .feed-list-loading .loading-content {
    margin-bottom: 10px !important;
  }
}

.feed-description-popover {
  button[aria-label="Close"] {
    outline: none;
  }
}

.feed-view {
  min-height: 25vh; // Temp for dev
  > div {
    color: #fff;
  }
  // Left side panel displaying feed tree
  .feed-block {
    background: $feed-block-background;
  }

  // Right side panel to display node information
  .node-block {
    background: $node-block-background;
    border-left: 3px solid $node-block-border;
    font-size: $plugin-data-font-size;
    div {
      color: #fff;
      label {
        display: block;
        font-size: $plugin-label-font-size;
      }
    }
    .pf-l-grid {
      margin-top: 1rem;
    }
    .btn-div {
      margin-top: 0.5rem;
      max-width: 200px;
      button {
        color: #fff;
        font-size: $plugin-data-font-size;
        margin-bottom: 0.5rem;
        text-align: left;
        outline-color: #fff;
        svg {
          margin-right: 5px;
        }
        &:hover,
        &:focus {
          background: #fff;
          color: $node-block-background;
          &::after {
            border-color: #fff;
          }
        }
      }
    }
    // selected node and view command button
    .details-header-wrap {
      display: flex;
      justify-content: space-between;
      .pf-c-title {
        color: #fff;
        font-weight: bold;
      }
      .pf-c-button {
        --pf-c-button--BorderRadius: 3px;
        svg:first-child {
          margin-right: 12px;
        }
        svg:last-child {
          margin-left: 10px;
        }
      }
    }

    // status, created & node id
    .node-details-grid {
      row-gap: 10px !important;
      .title {
        font-size: 15px !important;
      }
      .value {
        font-size: 16px !important;
      }
      .value svg {
        margin-right: 10px;
      }

      &__title {
        display: flex;

        &-label {
          color: white;
          margin-right: 5px;
          font-weight: 700;
        }
      }
    }
  }
}

// Misc
.svg-inline--fa {
  margin-right: 5px;
}

// Tree Chart Section
// ------------------------------
.link {
  fill: none;
  marker-end: url(#end-arrow);
  opacity: 0.8;
  stroke: $tree-links-color; //007bba - active
  stroke-width: 1px;
}
.nodelabel {
  fill: $tree-node-backgound;
  font-size: 0.75rem;
}
.nodegroup {
  cursor: pointer;
  fill: $tree-node-backgound;
  &.active {
    fill: $tree-node-active-backgound;
    .nodelabel {
      fill: $tree-node-active-backgound;
    }
  }
}
// For tree tooltip
#tree,
#pipelineTree {
  position: relative;
}
.tooltip {
  background: $tree-tooltip-background; // rgb(57, 63, 68); // 393f44
  color: #fff;
  font-size: 0.875rem;
  min-height: 50px;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  transition: opacity 1s;
  transition-delay: 0.5s;
  &::before {
    background: $tree-tooltip-background;
    content: "";
    display: block;
    height: $tree-tooltip-arrow-width;
    left: 100px;
    position: absolute;
    pointer-events: none;
    top: 100%; //0
    transform: translate(-50%, -50%) rotate(45deg);
    width: $tree-tooltip-arrow-width;
  }
}

#pipelineTree {
  .nodegroup {
    cursor: default;
  }
}

/* INLINE FEED OUTPUT BROWSER */

.feed-output-browser {
  background: white;

  header {
    // "output browser" header
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--pf-global--BorderColor--light-200);
    padding-bottom: 10px;
  }

  .file-browser-header {
    display: flex;
    padding-right: 10px;
    margin-bottom: 10px;
    justify-content: space-between; // seperate name and download button

    .plugin-name {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      padding: 0;
      font-size: 30px;
    }

    .plugin-id {
      font-size: 15px;
    }

    .files-info {
      position: relative;
      bottom: 7px;
      font-weight: 500;
    }

    .download-all-button {
      --pf-c-button--BorderRadius: 5px;
      --pf-c-button--BorderWidth: 2px;
      margin-left: 10px;
      svg {
        // download icon
        margin-right: 10px;
      }
    }
  }
  .sidebar {
    margin-right: 20px;
    margin-left: 1rem;

    li {
      padding: 5px 10px;
      font-weight: normal;
      border-radius: 4px;
      cursor: pointer;
    }

    .selected {
      color: white;
      background: var(--pf-global--primary-color--100);
    }

    svg {
      color: #f7e0be;
    }
  }

  .breadcrumb {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 0 !important;
    border: 1px solid #949494;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:not(:first-child) {
      border-left: 0;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      &:not(:only-child) {
        color: white;
        background: var(--pf-global--primary-color--100);
      }
    }

    .pf-c-breadcrumb__item-divider {
      display: none;
    }
  }
}

.feed-output-browser .file-browser {
  // file list and file preview take up 50% width
  // so that split doesn't change based on file size

  &__flex {
    display: flex !important;

    &__item1 {
      flex-basis: 650px;
    }

    &__item2 {
      flex-grow: 1;
      max-width: 50%;

      &-json {
        margin-top: 15px;
      }
    }
  }

  td {
    font-size: 15px;
    color: black;
  }
}

.feed-output-browser .file-browser .file-list {
  // Table Layout Resets

  td,
  th {
    padding-left: 5px;
  }

  tbody tr {
    cursor: pointer;
  }

  caption {
    display: none;
  }

  td[data-label="Name"],
  .td:last-child,
  .download-file-icon {
    // Name & download icon
    padding: 0;
  }

  // Style

  svg {
    color: var(--pf-global--primary-color--100);
  }

  .file-name {
    padding: 7px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    &.previewing {
      background: var(--pf-global--primary-color--100);
      color: white;
      svg {
        color: white;
      }
    }

    &.path-selected {
      border-color: var(--pf-global--primary-color--100);
    }
  }
}

/* PATH POPOVER */

// path popover is child of body
.path-popover-wrap {
  --popover-border: 1px solid #999;
  border: var(--popover-border);

  .pf-c-popover__arrow {
    border: var(--popover-border);
  }

  textarea {
    margin-top: 0 !important;
  }
}
