/*
*  File:            _pf4-variables.scss
*  Description:     This files holds scss variable overrides for patternfly 4
*  Author:          ChRIS UI
*/


// Patternfly variable overrides
// --------------------------------------------------------------------
// Grid breakpoints - adjust as needed
$pf-global--breakpoint--xs:         0;
$pf-global--breakpoint--sm:         576px;
$pf-global--breakpoint--md:         768px;
$pf-global--breakpoint--lg:         992px;
$pf-global--breakpoint--xl:         1200px;

$pf-root-directory:                 '~@patternfly/patternfly/';
// Fontpath
$pf-global--font-path:              '~@patternfly/patternfly/assets/fonts';
// Iconpath
$fa-font-path:                      '~@patternfly/patternfly/assets/fonts/webfonts';
// FontIcon Path
$pf-global--fonticon-path:          '~@patternfly/patternfly/assets/pficon';
// Imagepath
$pf-global--image-path:             '~@patternfly/patternfly/assets/images';

// Do you need to run PatternFly 3 and PatternFly 4 together
// use the following steps to update your configuration in the src/patternfly/utilities/variables.scss file to state false
// $pf-global--enable-reset:           false; // NOTE: removes resets in _base.scss!!!!!


$pf-global--BorderRadius--sm:        0; // Changed to override button radius might need to override actual styles

// Color overrides
// --------------------------------------------------------------------
$pf-color-black-900:                #282d33;