/*
*  File:            _pf4-variables.scss
*  Description:     This file holds scss variable overrides for patternfly 4
*  Author:          ChRIS UI
*/

// Patternfly variable overrides
// --------------------------------------------------------------------

// Grid breakpoints - adjust as needed
$pf-global--breakpoint--xs: 0;
$pf-global--breakpoint--sm: 576px;
$pf-global--breakpoint--md: 768px;
$pf-global--breakpoint--lg: 992px;
$pf-global--breakpoint--xl: 1200px;
$pf-global--breakpoint--xl2: 1920px;

$pf-root-directory: "~@patternfly/patternfly/";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";

$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";

$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";

$pf-global--image-path: "~@patternfly/patternfly/assets/images";

// Color overrides
// --------------------------------------------------------------------
$pf-color-black-900: #282d33;
