/*
*  File:            _variables.scss
*  Description:     This files holds variables used by site specific scss and third party libraries
*  Author:          ChRIS ui Demo
*/


// Patternfly variables
// --------------------------------------------------------------------
// Grid breakpoints - adjust as needed
$pf-global--breakpoint--xs:         0;
$pf-global--breakpoint--sm:         576px;
$pf-global--breakpoint--md:         768px;
$pf-global--breakpoint--lg:         992px;
$pf-global--breakpoint--xl:         1200px;

$pf-root-directory:                 '~@patternfly/patternfly/';
// Fontpath
$pf-global--font-path:              '~@patternfly/patternfly/assets/fonts';
// Iconpath
$fa-font-path:                      '~@patternfly/patternfly/assets/fonts/webfonts';
// FontIcon Path
$pf-global--fonticon-path:          '~@patternfly/patternfly/assets/pficon';
// Imagepath
$pf-global--image-path:             '~@patternfly/patternfly/assets/images';

// Do you need to run PatternFly 3 and PatternFly 4 together
// use the following steps to update your configuration in the src/patternfly/utilities/variables.scss file to state false
// $pf-global--enable-reset:           false; // NOTE: removes resets in _base.scss!!!!!

// Site specific Variables:
// --------------------------------------------------------------------
$image-url:                         '../../assets/images/';
$chris-background-filter:           'chris_ui_background_filter.svg#image_overlay';
$chris-background-image:            'chris_ui_background_576.jpg';
$chris-background-image-2x:         'chris_ui_background_576@2x.jpg';  //var(--pf-c-background-image--BackgroundImage-2x);
$chris-background-image-sm:         'chris_ui_background_768.jpg'; //var(--pf-c-background-image--BackgroundImage--sm);
$chris-background-image-sm-2x:      'chris_ui_background_768@2x.jpg'; //var(--pf-c-background-image--BackgroundImage--sm-2x);
$chris-background-image-lg:         'chris_ui_background.png'; //var(--pf-c-background-image--BackgroundImage--lg);

$login-background-image:            'pfbg_576.jpg';
$login-background-image-2x:         'pfbg_576@2x.jpg';  //var(--pf-c-background-image--BackgroundImage-2x);
$login-background-image-sm:         'pfbg_768.jpg'; //var(--pf-c-background-image--BackgroundImage--sm);
$login-background-image-sm-2x:      'pfbg_768@2x.jpg'; //var(--pf-c-background-image--BackgroundImage--sm-2x);
$login-background-image-lg:         'pfbg_2000.jpg'; //var(--pf-c-background-image--BackgroundImage--lg);
