/*
*  File:            _variables.scss
*  Description:     This files holds variables used by site specific scss and some third party library overrides
*  Author:          ChRIS ui Demo
*/


// Site specific Variables:
// --------------------------------------------------------------------
$image-url:                         '../../assets/images/';
$chris-background-filter:           'chris_ui_background_filter.svg#image_overlay';
$chris-background-image:            'chris_ui_background_576.jpg';
$chris-background-image-2x:         'chris_ui_background_576@2x.jpg';  //var(--pf-c-background-image--BackgroundImage-2x);
$chris-background-image-sm:         'chris_ui_background_768.jpg'; //var(--pf-c-background-image--BackgroundImage--sm);
$chris-background-image-sm-2x:      'chris_ui_background_768@2x.jpg'; //var(--pf-c-background-image--BackgroundImage--sm-2x);
$chris-background-image-lg:         'chris_ui_background.png'; //var(--pf-c-background-image--BackgroundImage--lg);

$login-background-image:            'pfbg_576.jpg';
$login-background-image-2x:         'pfbg_576@2x.jpg';  //var(--pf-c-background-image--BackgroundImage-2x);
$login-background-image-sm:         'pfbg_768.jpg'; //var(--pf-c-background-image--BackgroundImage--sm);
$login-background-image-sm-2x:      'pfbg_768@2x.jpg'; //var(--pf-c-background-image--BackgroundImage--sm-2x);
$login-background-image-lg:         'pfbg_2000.jpg'; //var(--pf-c-background-image--BackgroundImage--lg);
