.leftAndRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerItems {
  display: flex;
}

.footerItems > *:not(:last-child):after {
  content: "|";
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.crosshairLocationText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hideOnMobile {
  display: none;
}


/* On wide screen, description appears to the left of widget */
@media only screen and (min-width: 600px) {
  .hideOnMobile {
    display: initial;
  }

  .leftAndRightContainer {
    flex-direction: row;
  }
}
