.footerItems {
  display: flex;
}

.footerItems > *:not(:last-child):after {
  content: "|";
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.crosshairLocationText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
